Mfg-Data-Lake-DEV-Factory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Mfg-Data-Lake-DEV-Factory"
		},
		"ADLSBlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ADLSBlobStorage'"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"AzureDatabricks_daniel_Image_classification_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks_daniel_Image_classification'"
		},
		"AzureDatabricks_gpucluster_daniel_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks_gpucluster_daniel'"
		},
		"AzureDatabricks_rado_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks_rado'"
		},
		"AzureDatabricks_rado_ml_cluster_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks_rado_ml_cluster'"
		},
		"AzureSynapseDLLink_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSynapseDLLink'"
		},
		"onsemidevmdlstoragelink_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://onsemidevmdlstorage.dfs.core.windows.net"
		},
		"CZ4_storage_trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/77eca5ce-e649-4920-af32-b5dd93df06fc/resourceGroups/Mfg-Data-Lake-DEV/providers/Microsoft.Storage/storageAccounts/onsemidevmdlstorage"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ADLSBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ADLSBlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5020195826862837.17.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "0416-124834-wrung770"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_daniel_Image_classification')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5020195826862837.17.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_daniel_Image_classification_accessToken')]"
					},
					"newClusterNodeType": "Standard_NC12",
					"newClusterNumOfWorker": "1",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "7.4.x-gpu-ml-scala2.12",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_gpucluster_daniel')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5020195826862837.17.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_gpucluster_daniel_accessToken')]"
					},
					"existingClusterId": "0308-220502-widen851"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_rado')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5020195826862837.17.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_rado_accessToken')]"
					},
					"existingClusterId": "0814-084114-knot389"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_rado_ml_cluster')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5020195826862837.17.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_rado_ml_cluster_accessToken')]"
					},
					"existingClusterId": "0416-124834-wrung770"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseDLLink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('AzureSynapseDLLink_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/onsemidevmdlstoragelink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "linked service for ADLS",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('onsemidevmdlstoragelink_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CZ4_storage_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/adls/blobs/scored/site/CZ4/defect/models",
					"blobPathEndsWith": "train_trigger.txt",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('CZ4_storage_trigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_EveryDay_translation')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-10-20T12:28:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IntegrationRuntimeMDLPHXCOLO')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntimeML')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntimeMfgDataLake')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "integrationRuntimeMfgDataLake",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Databricks_FDC_translation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ASH_Translation",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_all_to_delta_dev (ASH)"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ETH_Translation",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_all_to_delta_dev (ETH)"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CED_Translation",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_all_to_delta_dev (CED)"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Databricks_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2020-11-08T20:53:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks_rado')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FDC_batch_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "detect_anomaly_ASH",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "merge_ASH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/FDC_Batch_Detection/FDC_ASH_PIM_Batch_Detection"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "detect_anomaly_ETH",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "merge_ETH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/FDC_Batch_Detection/FDC_ETH_ONC110M_Batch_Detection"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "detect_anomaly_CED",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "merge_CED",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/FDC_Batch_Detection/FDC_CED_C_IMD_Batch_Detection"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "merge_FDC_results",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "detect_anomaly_ASH",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "detect_anomaly_ETH",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "detect_anomaly_CED",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_merge_FDC_results"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ETL_USR_parse_ETH",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/deployments/dev/etl_usr/ETL_USR_parse.py",
							"parameters": [
								"ETH36602",
								"ETH36602"
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ETL_USR_parse_ASH",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/deployments/dev/etl_usr/ETL_USR_parse.py",
							"parameters": [
								"ASH10653",
								"ASH10653"
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ETL_USR_parse_CED09603",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/deployments/dev/etl_usr/ETL_USR_parse.py",
							"parameters": [
								"CED09603",
								"CED"
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ETL_USR_parse_CED09607",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/deployments/dev/etl_usr/ETL_USR_parse.py",
							"parameters": [
								"CED09607",
								"CED"
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "merge_ASH",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "ETL_USR_parse_ASH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/deployments/dev/etl_usr/ETL_USR_merge.py",
							"parameters": [
								"ASH"
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "merge_ETH",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "ETL_USR_parse_ETH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/deployments/dev/etl_usr/ETL_USR_merge.py",
							"parameters": [
								"ETH"
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "merge_CED",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "ETL_USR_parse_CED09607",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ETL_USR_parse_CED09603",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/deployments/dev/etl_usr/ETL_USR_merge.py",
							"parameters": [
								"CED"
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "FDC_Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T16:19:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks_rado_ml_cluster')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestToParquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/daniela.bordencea@onsemi.com/CSV2Parquet"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks_rado_ml_cluster')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Test_parameters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ETL_USR_parse",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/deployments/dev/etl_usr/ETL_USR_parse.py",
							"parameters": [
								"CED09607",
								"CED-test"
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Databricks_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T16:19:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks_rado_ml_cluster')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/USR_MET2Parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "USR_MET2Parquet",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/daniela.bordencea@onsemi.com/MET2Parquet"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "USR_MET"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks_rado_ml_cluster')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASH_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "translated/examples/ASH.parquet.df",
						"fileSystem": "adls"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "_c0",
						"type": "UTF8"
					},
					{
						"name": "Filename_Translated",
						"type": "UTF8"
					},
					{
						"name": "Filename_Original",
						"type": "UTF8"
					},
					{
						"name": "FabGuard_Version",
						"type": "UTF8"
					},
					{
						"name": "Run_Path_and_Name",
						"type": "UTF8"
					},
					{
						"name": "Recipe_Path_and_Name",
						"type": "UTF8"
					},
					{
						"name": "SensorID",
						"type": "UTF8"
					},
					{
						"name": "Version",
						"type": "UTF8"
					},
					{
						"name": "Acquired_with_Version",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Group",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_ID",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Description",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Area",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Type",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_FabGuard",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_ID",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_Description",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_Type",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_1_TDS_Type",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_1_TDS_Serial_Number",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_1_TDS_Version",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Lot_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Cassette_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Slot_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Substrate_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Part_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Layer_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Technology_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Substrate_Start_Time_local",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Substrate_Start_Time_GMT",
						"type": "UTF8"
					},
					{
						"name": "Process_Information_Operator_ID",
						"type": "UTF8"
					},
					{
						"name": "Process_Information_Sequence_ID",
						"type": "UTF8"
					},
					{
						"name": "Process_Information_Recipe_ID",
						"type": "UTF8"
					},
					{
						"name": "Process_Information_Control_Job_ID",
						"type": "UTF8"
					},
					{
						"name": "Process_Information_Process_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_1_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_2_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_3_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_4_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_5_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_6_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_7_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_8_ID",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Start_Time",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Start_Time_at_the_acquisition_location",
						"type": "UTF8"
					},
					{
						"name": "General_Info_FabGuards_Recipe_Path_and_Name",
						"type": "UTF8"
					},
					{
						"name": "General_Info_FabGuards_Recipe_Revision",
						"type": "UTF8"
					},
					{
						"name": "General_Info_FabGuards_Recipe_last_modified_by",
						"type": "UTF8"
					},
					{
						"name": "General_Info_FabGuards_Recipe_last_modified_Time_local",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Start_Time_at_the_acquisition_GMT",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Run_Path_and_Name",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Duration_s",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Number_of_Data_Points",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Number_of_Scans",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Number_of_Bins",
						"type": "UTF8"
					},
					{
						"name": "Bins",
						"type": "UTF8"
					},
					{
						"name": "TimePoints",
						"type": "UTF8"
					},
					{
						"name": "TimeRelativesec",
						"type": "UTF8"
					},
					{
						"name": "TimeAbsoluteUTC",
						"type": "UTF8"
					},
					{
						"name": "TimeAbsoluteDate_Time",
						"type": "UTF8"
					},
					{
						"name": "Step",
						"type": "UTF8"
					},
					{
						"name": "Status",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pres_CM_mTorr_SVID167813621",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pwr_Bot_RF_Fwd_W_SVID167813623",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pwr_Bot_RF_Refl_W_SVID167813625",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pwr_Bot_RF_VPP_V_SVID167813627",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pwr_Bot_RF_VDC_V_SVID167813629",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_C4F8_Flow_sccm_SVID167813630",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_C5F8_Flow_sccm_SVID167813631",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_CO_Flow_sccm_SVID167813632",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_Ar_Flow_sccm_SVID167813633",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_O2_30_sccm_Flow_sccm_SVID167813634",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_CHF3_Flow_sccm_SVID167813635",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_CF4_Flow_sccm_SVID167813636",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_O2_1_SLM_Flow_sccm_SVID167813637",
						"type": "UTF8"
					},
					{
						"name": "Tool_Temp_Elec_Top_degC_SVID167813638",
						"type": "UTF8"
					},
					{
						"name": "Tool_Temp_Wall_Side_degC_SVID167813639",
						"type": "UTF8"
					},
					{
						"name": "Tool_Temp_Elec_Bot_degC_SVID167813640",
						"type": "UTF8"
					},
					{
						"name": "Tool_He_Pres_Back_1_Torr_SVID167813641",
						"type": "UTF8"
					},
					{
						"name": "Tool_He_Pres_Back_2_Torr_SVID167813642",
						"type": "UTF8"
					},
					{
						"name": "Tool_He_Flow_1_sccm_SVID167813643",
						"type": "UTF8"
					},
					{
						"name": "Tool_He_Flow_2_sccm_SVID167813644",
						"type": "UTF8"
					},
					{
						"name": "Tool_ESC_Voltage_V_SVID167813645",
						"type": "UTF8"
					},
					{
						"name": "Tool_ESC_Current_uA_SVID167813646",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pres_APC_Pos_deg_SVID167813647",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gap_Dist_mm_SVID167813648",
						"type": "UTF8"
					},
					{
						"name": "Tool_Cap_C1_Bot_Pos_SVID167813651",
						"type": "UTF8"
					},
					{
						"name": "Tool_Cap_C2_Bot_Pos_SVID167813652",
						"type": "UTF8"
					},
					{
						"name": "Tool_Imped_R_Top_ohm_SVID167813653",
						"type": "UTF8"
					},
					{
						"name": "Tool_Imped_Jx_Top_ohm_SVID167813654",
						"type": "UTF8"
					},
					{
						"name": "Tool_Imped_R_Bot_ohm_SVID167813655",
						"type": "UTF8"
					},
					{
						"name": "Tool_Imped_Jx_Bot_ohm_SVID167813656",
						"type": "UTF8"
					},
					{
						"name": "Tool_Phase_SVID167813658",
						"type": "UTF8"
					},
					{
						"name": "Tool_Magnitude_SVID167813659",
						"type": "UTF8"
					},
					{
						"name": "Tool_Rcp_Step_Num_SVID167813666_[Tool's_Step]",
						"type": "UTF8"
					},
					{
						"name": "Tool_Rcp_Step_Time_sec_SVID167813667",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_CH2F2_Flow_sccm_SVID167813678",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_N2_Flow_sccm_SVID167813679",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_He_Flow_sccm_SVID167813680",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_H2_Flow_sccm_SVID167813681",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_CHF3_2_Flow",
						"type": "UTF8"
					},
					{
						"name": "Tool_Bin_Polling_Latency",
						"type": "UTF8"
					},
					{
						"name": "Tool_Bin_Data_Age",
						"type": "UTF8"
					},
					{
						"name": "Tool_Bin_Data_Age_SECS",
						"type": "UTF8"
					},
					{
						"name": "Sig_Bot_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Edge_He_Backside_Pressure_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Center_He_Backside_Pressure_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Center_He_Backside_Flow_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Edge_He_Backside_Flow_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Upper_Temperature_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Side_Temperature_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Lower_Temperature_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_ElectroStatic_Chuck_Voltage_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_ElectroStatic_Chuck_Current_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Chamber_Pressure_RF_On_Steady_State_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_CH2F2_Flow_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Vpp_Arc_Counter_1450_W",
						"type": "UTF8"
					},
					{
						"name": "Sig_No_arc__0",
						"type": "UTF8"
					},
					{
						"name": "Sig_Vpp_Arc_Counter_1200-1450_W",
						"type": "UTF8"
					},
					{
						"name": "Sig_Vpp_Arc_Counter_1450_W_v2_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Reflected_Power_of_Stady_State_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Filter_Acceptable_Data_Age",
						"type": "UTF8"
					},
					{
						"name": "Sig_Pwr_Bot_RF_Fwd_DevAvg_Steady_State_5-60",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_Ar_Steady_State_5-60_RF_On_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_Ar_DevAvg_Steady_State_5-60_RF_On_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_VPP_TRIM_Step_4_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_C4F8_TRIM_Step_4_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_VPP_TRIM_Step_2_post_Run",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/onsemidevmdlstoragelink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobFSSourceDatasetEntity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/onsemidevmdlstoragelink')]"
			]
		}
	]
}