Mfg-Data-Lake-DEV-Factory/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Mfg-Data-Lake-DEV-Factory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ExtensioAPI",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/fabtimshipment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "fabtimesqlserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblShipment"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_EveryDay_translation')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Databricks_FDC_translation",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-10-20T12:28:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFlowForCSVMergeToParquet')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedText2",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "mergedCSV",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"script": "parameters{\n\trecursiveInputPath as string ('translated/csv/site/USR/FDC/Tools/ASH10653/2020-008-01'),\n\trecursiveOutputPath as string ('translated/parquet/site/USR/FDC/Tools/ASH10653/2020-008-01')\n}\nsource(output(\n\t\t{_c0} as short,\n\t\tFilename_Translated as string,\n\t\tFilename_Original as string,\n\t\tFabGuard_Version as string,\n\t\tRun_Path_and_Name as string,\n\t\tRecipe_Path_and_Name as string,\n\t\tSensorID as string,\n\t\tVersion as string,\n\t\tAcquired_with_Version as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Group as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_ID as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Description as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Area as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_FabGuard as short,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_ID as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_Description as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Serial_Number as integer,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Version as string,\n\t\tSubstrate_Information_Lot_ID21 as string,\n\t\tSubstrate_Information_Cassette_ID as string,\n\t\tSubstrate_Information_Slot_ID as short,\n\t\tSubstrate_Information_Substrate_ID as string,\n\t\tSubstrate_Information_Part_ID as string,\n\t\tSubstrate_Information_Layer_ID as string,\n\t\tSubstrate_Information_Technology_ID as string,\n\t\tSubstrate_Information_Lot_ID28 as timestamp,\n\t\tSubstrate_Information_Substrate_Start_Time_GMT as timestamp,\n\t\tProcess_Information_Operator_ID as string,\n\t\tProcess_Information_Sequence_ID as string,\n\t\tProcess_Information_Recipe_ID as string,\n\t\tProcess_Information_Control_Job_ID as string,\n\t\tProcess_Information_Process_ID as string,\n\t\tExtra_Information_Extra_1_ID35 as string,\n\t\tExtra_Information_Extra_1_ID36 as string,\n\t\tExtra_Information_Extra_2_ID as string,\n\t\tExtra_Information_Extra_3_ID as string,\n\t\tExtra_Information_Extra_4_ID as string,\n\t\tExtra_Information_Extra_5_ID as string,\n\t\tExtra_Information_Extra_6_ID as string,\n\t\tExtra_Information_Extra_7_ID as string,\n\t\tExtra_Information_Extra_8_ID as string,\n\t\tGeneral_Info_Start_Time as string,\n\t\tGeneral_Info_Start_Time_at_the_acquisition_location as timestamp,\n\t\tGeneral_Info_FabGuards_Recipe_Path_and_Name as string,\n\t\tGeneral_Info_FabGuards_Recipe_Revision as short,\n\t\tGeneral_Info_FabGuards_Recipe_last_modified_by as string,\n\t\tGeneral_Info_FabGuards_Recipe_last_modified_Time_local as timestamp,\n\t\tGeneral_Info_Start_Time_at_the_acquisition_GMT as timestamp,\n\t\tGeneral_Info_Run_Path_and_Name as string,\n\t\tGeneral_Info_Duration_s as double,\n\t\tGeneral_Info_Number_of_Data_Points as short,\n\t\tGeneral_Info_Number_of_Scans as boolean,\n\t\tGeneral_Info_Number_of_Bins as short,\n\t\tBins as short,\n\t\tTimePoints as short,\n\t\t{Time Relative (sec)} as double,\n\t\t{Time Absolute (UTC)} as double,\n\t\t{Time Absolute (Date_Time)} as string,\n\t\tStep as boolean,\n\t\tStatus as boolean,\n\t\t{Tool:_Gas_-_CF4_Flow_(sccm);_SVID180} as boolean,\n\t\t{Tool:_Gas_-_O2_Large_Flow_(sccm);_SVID181} as short,\n\t\t{Tool:_Gas_-_NF3_Flow_(sccm);_SVID182} as boolean,\n\t\t{Tool:_Gas_-_N2H2_Flow_(sccm);_SVID183} as boolean,\n\t\t{Tool:_Gas_-_Argon_Flow_(sccm);_SVID184} as short,\n\t\t{Tool:_Pres-_Chamber_Pressure_(torr);_SVID186} as double,\n\t\t{Tool:_Temp_-_Hot_Plate_(C);_SVID187} as short,\n\t\t{Tool:_EP_-_Photo_Multiplier_Vout_(v);_SVID188} as double,\n\t\t{Tool:_RF_Bias;_SVID189} as short,\n\t\t{Tool:_RF_Match_C1_Pos_(%);_SVID190} as short,\n\t\t{Tool:_RF_Match_C2_Pos_(%);_SVID191} as short,\n\t\t{Tool:_RF_Forward_Power_(Watts);_SVID192} as short,\n\t\t{Tool:_RF_Reflected_Power_(Watts);_SVID193} as short,\n\t\t{Tool:_MW_Forward_Power_(Watts);_SVID194} as short,\n\t\t{Tool:_MW_Reflected_Power_(Watts);_SVID195} as short,\n\t\t{Tool:_Recipe_Step_Number;_SVID196_[Tool's_Step]} as short,\n\t\t{Tool:_Wafer_-_Slot_Number;_SVID222} as short,\n\t\t{Tool:_EP_-_End_Point_Time;_SVID266} as boolean,\n\t\t{Tool:_RF_Power_Set_Point_(Watts);_SVID288} as short,\n\t\t{Tool:_MW_Set_Point_(Watts);_SVID289} as short,\n\t\t{Tool:_Pres-_Chamber_Pressure_Set_Point_(torr);_SVID290} as double,\n\t\t{Tool:_Temp_-_Hot_Plate_SetPoint_(C);_SVID291} as short,\n\t\t{Tool:_Gas_-_CF4_Set_Point_(sccm);_SVID292} as boolean,\n\t\t{Tool:_Gas_-_O2_Large_Set_Point_(sccm);_SVID293} as boolean,\n\t\t{Tool:_Gas_-_NF3_Set_Point_(sccm);_SVID294} as boolean,\n\t\t{Tool:_Gas_-_N2H2_Set_Point_(sccm);_SVID295} as boolean,\n\t\t{Tool:_Gas_-_Argon_Set_Point_(sccm);_SVID296} as boolean,\n\t\t{Tool:_EP_-_Photo_Multiplier_End_Point_HiV_(v);_SVID316} as short,\n\t\t{Tool:_Pin_Height_Set_Point;_SVID317} as short,\n\t\t{Tool:_Gas_-_O2_Small_Flow} as double,\n\t\t{Tool:_Gas_-_O2_Small_Set_Point} as double,\n\t\tTool_Bin_Polling_Latency as double,\n\t\tTool_Bin_Data_Age as double,\n\t\tTool_Bin_Data_Age_SECS as double,\n\t\t{Sig:_Temp_-_Hot_Plate_-_Filtered_(No_RF)_(post_Run)} as double,\n\t\t{Sig:_Filter:_Acceptable_Data_Age} as boolean,\n\t\t{Sig:_Ash_Total_Time} as double,\n\t\t{Sig:_Overash_Time} as double,\n\t\t{Sig:_Ash_EP_Time} as double,\n\t\t{Sig:_Overash_Percentage} as double,\n\t\t{Sig:_Filter:_Max_Data_Age} as boolean,\n\t\t{Sig:_Overash_Percentage_filtered_for_Data_Age} as double,\n\t\t{Sig:_MW_-_Power_Deviation_(post_Run)} as double,\n\t\t{Sig:_RF_-_Power_Deviation_(post_Run)} as double,\n\t\t{Sig:_Gas_-_Large_O2_Flow_Deviation_(post_Run)} as double,\n\t\t{Sig:_Gas_-_Small_O2_Flow_Deviation_(post_Run)} as double,\n\t\t{Sig:_Gas_-_CF4_Flow_Deviation_(post_Run)} as double,\n\t\t{Sig:_Gas_-_NF3_Flow_Deviation_(post_Run)} as double,\n\t\t{Sig:_Gas_-_Argon_Flow_Deviation_(post_Run)} as double,\n\t\t{Sig:_Gas_-_N2H2_Flow_Deviation_(post_Run)} as double,\n\t\t{Sig:_MW_-_Reflected_Power_(Steady_state)_(post_Run)} as double,\n\t\t{Sig:_RF_-_Reflected_Power_(Steady_state)_(post_Run)} as double,\n\t\t{Sig:_Pres_-_Pressure_Deviation_(High_Pressure)(Steady_State)_(post_Run)} as double,\n\t\t{Sig:_EP_-_EP_Intensity_after_resist_removal_(post_Run)} as double,\n\t\t{Sig:_Temp_-_Hot_Plate_Deviation_(post_Run)} as double,\n\t\t{Sig:_EP_-_EP_Max_Intensity_with_no_RF} as double,\n\t\t{Sig:_Pres_-_Pressure_Deviation_(Low_Pressure)(Steady_State)_(post_Run)} as double,\n\t\t{Sig:_Filter:_Slot_Number_Correction_>_25} as short,\n\t\t{Sig:_Filter:_Slot_Number_Corrected_Value} as short,\n\t\t{Sig:_RF_-_Bias_(Power_on)_(post_Run)} as double,\n\t\t{Sig:_Overash_Time_7V} as double,\n\t\t{Sig:_Overash_Percentage_7V} as double,\n\t\t{Sig:_Overash_Percentage_filtered_for_Data_Age_7V} as double,\n\t\t{Sig:_EP_-_End_Point_voltage_above_trigger._(post_Run)} as double,\n\t\t{Sig:_Gas:_O2_Large_Usage_(liters)} as double,\n\t\t{Sig:_Gas:_O2_Small_Usage_(liters)} as double,\n\t\t{Sig:_Gas:_NF3_Usage_(liters)} as double,\n\t\t{Sig:_Gas:_CF4_Usage_(liters)} as double,\n\t\t{Sig:_Gas:_N2H2_Usage_(liters)} as double,\n\t\t{Sig:_Gas:_Argon_Usage_(liters)} as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tinferDriftedColumnTypes: true,\n\twildcardPaths:[(concat($recursiveInputPath, '/*.csv'))]) ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tmapColumn(\n\t\teach(match(true()),\n\t\t\treplace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace($$,';',''),':',''),':',''),'(',''),')',''),' ',''),' ',''),')',''),'(',''),']',''),'[',''),'(',''),')',''),'>',''),'\\'','') = $$)\n\t),\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtractFDCMetaData')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "sandbox"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "FDCMetaData",
								"type": "DatasetReference"
							},
							"name": "FDCMetaData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "FDCParquetDS",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Pivot1"
						},
						{
							"name": "Filter1"
						}
					],
					"script": "source(output(\n\t\tfdc_metadata_key as string,\n\t\tfdc_metadata_value as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tinferDriftedColumnTypes: true,\n\tskipLines: 3) ~> FDCMetaData\nFilter1 pivot(groupBy(fdc_metadata_value),\n\tpivotBy(fdc_metadata_key),\n\t{} = first(fdc_metadata_value),\n\tcolumnNaming: '$V$N',\n\tlateral: false) ~> Pivot1\nFDCMetaData filter(instr(\"General Info, Run Path and Name\" , fdc_metadata_key)>0 || \r\ninstr(\"Sensor ID\" , fdc_metadata_key)>0 ||\r\ninstr(\"Substrate Information, Lot ID\" , fdc_metadata_key)>0 ||\r\ninstr(\"Substrate Information, Slot ID\" , fdc_metadata_key)>0) ~> Filter1\nPivot1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MergeCSV_to_Parquet')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "sandbox"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedText2",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "mergedCSV",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\t{_c0} as short,\n\t\tFilename_Translated as string,\n\t\tFilename_Original as string,\n\t\tFabGuard_Version as string,\n\t\tRun_Path_and_Name as string,\n\t\tRecipe_Path_and_Name as string,\n\t\tSensorID as string,\n\t\tVersion as string,\n\t\tAcquired_with_Version as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Group as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_ID as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Description as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Area as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_FabGuard as short,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_ID as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_Description as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Serial_Number as integer,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Version as string,\n\t\tSubstrate_Information_Lot_ID21 as string,\n\t\tSubstrate_Information_Cassette_ID as string,\n\t\tSubstrate_Information_Slot_ID as short,\n\t\tSubstrate_Information_Substrate_ID as string,\n\t\tSubstrate_Information_Part_ID as string,\n\t\tSubstrate_Information_Layer_ID as string,\n\t\tSubstrate_Information_Technology_ID as string,\n\t\tSubstrate_Information_Lot_ID28 as timestamp,\n\t\tSubstrate_Information_Substrate_Start_Time_GMT as timestamp,\n\t\tProcess_Information_Operator_ID as string,\n\t\tProcess_Information_Sequence_ID as string,\n\t\tProcess_Information_Recipe_ID as string,\n\t\tProcess_Information_Control_Job_ID as string,\n\t\tProcess_Information_Process_ID as string,\n\t\tExtra_Information_Extra_1_ID35 as string,\n\t\tExtra_Information_Extra_1_ID36 as string,\n\t\tExtra_Information_Extra_2_ID as string,\n\t\tExtra_Information_Extra_3_ID as string,\n\t\tExtra_Information_Extra_4_ID as string,\n\t\tExtra_Information_Extra_5_ID as string,\n\t\tExtra_Information_Extra_6_ID as string,\n\t\tExtra_Information_Extra_7_ID as string,\n\t\tExtra_Information_Extra_8_ID as string,\n\t\tGeneral_Info_Start_Time as string,\n\t\tGeneral_Info_Start_Time_at_the_acquisition_location as timestamp,\n\t\tGeneral_Info_FabGuards_Recipe_Path_and_Name as string,\n\t\tGeneral_Info_FabGuards_Recipe_Revision as short,\n\t\tGeneral_Info_FabGuards_Recipe_last_modified_by as string,\n\t\tGeneral_Info_FabGuards_Recipe_last_modified_Time_local as timestamp,\n\t\tGeneral_Info_Start_Time_at_the_acquisition_GMT as timestamp,\n\t\tGeneral_Info_Run_Path_and_Name as string,\n\t\tGeneral_Info_Duration_s as double,\n\t\tGeneral_Info_Number_of_Data_Points as short,\n\t\tGeneral_Info_Number_of_Scans as boolean,\n\t\tGeneral_Info_Number_of_Bins as short,\n\t\tBins as short,\n\t\tTimePoints as short,\n\t\t{Time Relative (sec)} as double,\n\t\t{Time Absolute (UTC)} as double,\n\t\t{Time Absolute (Date_Time)} as string,\n\t\tStep as boolean,\n\t\tStatus as boolean,\n\t\t{Tool:_Gas_-_CF4_Flow_(sccm);_SVID180} as boolean,\n\t\t{Tool:_Gas_-_O2_Large_Flow_(sccm);_SVID181} as short,\n\t\t{Tool:_Gas_-_NF3_Flow_(sccm);_SVID182} as boolean,\n\t\t{Tool:_Gas_-_N2H2_Flow_(sccm);_SVID183} as boolean,\n\t\t{Tool:_Gas_-_Argon_Flow_(sccm);_SVID184} as short,\n\t\t{Tool:_Pres-_Chamber_Pressure_(torr);_SVID186} as double,\n\t\t{Tool:_Temp_-_Hot_Plate_(C);_SVID187} as short,\n\t\t{Tool:_EP_-_Photo_Multiplier_Vout_(v);_SVID188} as double,\n\t\t{Tool:_RF_Bias;_SVID189} as short,\n\t\t{Tool:_RF_Match_C1_Pos_(%);_SVID190} as short,\n\t\t{Tool:_RF_Match_C2_Pos_(%);_SVID191} as short,\n\t\t{Tool:_RF_Forward_Power_(Watts);_SVID192} as short,\n\t\t{Tool:_RF_Reflected_Power_(Watts);_SVID193} as short,\n\t\t{Tool:_MW_Forward_Power_(Watts);_SVID194} as short,\n\t\t{Tool:_MW_Reflected_Power_(Watts);_SVID195} as short,\n\t\t{Tool:_Recipe_Step_Number;_SVID196_[Tool's_Step]} as short,\n\t\t{Tool:_Wafer_-_Slot_Number;_SVID222} as short,\n\t\t{Tool:_EP_-_End_Point_Time;_SVID266} as boolean,\n\t\t{Tool:_RF_Power_Set_Point_(Watts);_SVID288} as short,\n\t\t{Tool:_MW_Set_Point_(Watts);_SVID289} as short,\n\t\t{Tool:_Pres-_Chamber_Pressure_Set_Point_(torr);_SVID290} as double,\n\t\t{Tool:_Temp_-_Hot_Plate_SetPoint_(C);_SVID291} as short,\n\t\t{Tool:_Gas_-_CF4_Set_Point_(sccm);_SVID292} as boolean,\n\t\t{Tool:_Gas_-_O2_Large_Set_Point_(sccm);_SVID293} as boolean,\n\t\t{Tool:_Gas_-_NF3_Set_Point_(sccm);_SVID294} as boolean,\n\t\t{Tool:_Gas_-_N2H2_Set_Point_(sccm);_SVID295} as boolean,\n\t\t{Tool:_Gas_-_Argon_Set_Point_(sccm);_SVID296} as boolean,\n\t\t{Tool:_EP_-_Photo_Multiplier_End_Point_HiV_(v);_SVID316} as short,\n\t\t{Tool:_Pin_Height_Set_Point;_SVID317} as short,\n\t\t{Tool:_Gas_-_O2_Small_Flow} as double,\n\t\t{Tool:_Gas_-_O2_Small_Set_Point} as double,\n\t\tTool_Bin_Polling_Latency as double,\n\t\tTool_Bin_Data_Age as double,\n\t\tTool_Bin_Data_Age_SECS as double,\n\t\t{Sig:_Temp_-_Hot_Plate_-_Filtered_(No_RF)_(post_Run)} as double,\n\t\t{Sig:_Filter:_Acceptable_Data_Age} as boolean,\n\t\t{Sig:_Ash_Total_Time} as double,\n\t\t{Sig:_Overash_Time} as double,\n\t\t{Sig:_Ash_EP_Time} as double,\n\t\t{Sig:_Overash_Percentage} as double,\n\t\t{Sig:_Filter:_Max_Data_Age} as boolean,\n\t\t{Sig:_Overash_Percentage_filtered_for_Data_Age} as double,\n\t\t{Sig:_MW_-_Power_Deviation_(post_Run)} as double,\n\t\t{Sig:_RF_-_Power_Deviation_(post_Run)} as double,\n\t\t{Sig:_Gas_-_Large_O2_Flow_Deviation_(post_Run)} as double,\n\t\t{Sig:_Gas_-_Small_O2_Flow_Deviation_(post_Run)} as double,\n\t\t{Sig:_Gas_-_CF4_Flow_Deviation_(post_Run)} as double,\n\t\t{Sig:_Gas_-_NF3_Flow_Deviation_(post_Run)} as double,\n\t\t{Sig:_Gas_-_Argon_Flow_Deviation_(post_Run)} as double,\n\t\t{Sig:_Gas_-_N2H2_Flow_Deviation_(post_Run)} as double,\n\t\t{Sig:_MW_-_Reflected_Power_(Steady_state)_(post_Run)} as double,\n\t\t{Sig:_RF_-_Reflected_Power_(Steady_state)_(post_Run)} as double,\n\t\t{Sig:_Pres_-_Pressure_Deviation_(High_Pressure)(Steady_State)_(post_Run)} as double,\n\t\t{Sig:_EP_-_EP_Intensity_after_resist_removal_(post_Run)} as double,\n\t\t{Sig:_Temp_-_Hot_Plate_Deviation_(post_Run)} as double,\n\t\t{Sig:_EP_-_EP_Max_Intensity_with_no_RF} as double,\n\t\t{Sig:_Pres_-_Pressure_Deviation_(Low_Pressure)(Steady_State)_(post_Run)} as double,\n\t\t{Sig:_Filter:_Slot_Number_Correction_>_25} as short,\n\t\t{Sig:_Filter:_Slot_Number_Corrected_Value} as short,\n\t\t{Sig:_RF_-_Bias_(Power_on)_(post_Run)} as double,\n\t\t{Sig:_Overash_Time_7V} as double,\n\t\t{Sig:_Overash_Percentage_7V} as double,\n\t\t{Sig:_Overash_Percentage_filtered_for_Data_Age_7V} as double,\n\t\t{Sig:_EP_-_End_Point_voltage_above_trigger._(post_Run)} as double,\n\t\t{Sig:_Gas:_O2_Large_Usage_(liters)} as double,\n\t\t{Sig:_Gas:_O2_Small_Usage_(liters)} as double,\n\t\t{Sig:_Gas:_NF3_Usage_(liters)} as double,\n\t\t{Sig:_Gas:_CF4_Usage_(liters)} as double,\n\t\t{Sig:_Gas:_N2H2_Usage_(liters)} as double,\n\t\t{Sig:_Gas:_Argon_Usage_(liters)} as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\twildcardPaths:['translated/csv/site/USR/FDC/Tools/ASH10653/2020-008-01/*.csv']) ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tmapColumn(\n\t\teach(match(true()),\n\t\t\ttranslate($$,':; ()[]','') = $$)\n\t),\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TransformFDCDatToParquet')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "sandbox"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "FDCData",
								"type": "DatasetReference"
							},
							"name": "FDCDataFile"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "FDCParquetDS",
								"type": "DatasetReference"
							},
							"name": "FDCtoParquet"
						}
					],
					"transformations": [
						{
							"name": "MapDrifted1",
							"description": "Creates an explicit mapping for each drifted column"
						}
					],
					"script": "source(output(\n\t\tColumn_1 as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tlimit: 100,\n\tskipLines: 63,\n\tdateFormats: ['MM/dd/yyyy'],\n\ttimestampFormats: ['MM/dd/yyyy','MM/dd/yyyy HH:mm:ss'],\n\tpreferredIntegralType: 'long',\n\tpreferredFractionalType: 'decimal') ~> FDCDataFile\nFDCDataFile derive({Time Relative (sec)} = toString(byName('Time Relative (sec)')),\n\t\t{Time Absolute (UTC)} = toString(byName('Time Absolute (UTC)')),\n\t\t{Time Absolute (Date_Time)} = toString(byName('Time Absolute (Date_Time)')),\n\t\tStep = toString(byName('Step')),\n\t\tStatus = toString(byName('Status')),\n\t\t{Tool:_SST1_chamber_2_rpm_(r/min);_SVID200} = toString(byName('Tool:_SST1_chamber_2_rpm_(r/min);_SVID200')),\n\t\t{Tool:_SST1_chmbr_2_rx_time_rem_(cs);_SVID201} = toString(byName('Tool:_SST1_chmbr_2_rx_time_rem_(cs);_SVID201')),\n\t\t{Tool:_SST1_chmbr_2_step_time_rem_(cs);_SVID202} = toString(byName('Tool:_SST1_chmbr_2_step_time_rem_(cs);_SVID202')),\n\t\t{Tool:_SST1_chmbr_2_wafers_present;_SVID205} = toString(byName('Tool:_SST1_chmbr_2_wafers_present;_SVID205')),\n\t\t{Tool:_SST1_chmbr_2_door_state;_SVID206} = toString(byName('Tool:_SST1_chmbr_2_door_state;_SVID206')),\n\t\t{Tool:_SST1_chmbr_2_processed_state;_SVID208} = toString(byName('Tool:_SST1_chmbr_2_processed_state;_SVID208')),\n\t\t{Tool:_SST1_chmbr_2_PP_Step;_SVID211_[Tool's_Step]} = toString(byName('Tool:_SST1_chmbr_2_PP_Step;_SVID211_[Tools_Step]')),\n\t\t{Tool:_SST1_chmbr_2_PP_Exec_Name;_SVID212} = toString(byName('Tool:_SST1_chmbr_2_PP_Exec_Name;_SVID212')),\n\t\t{Tool:_SST1_chmbr_2_Process_State;_SVID213} = toString(byName('Tool:_SST1_chmbr_2_Process_State;_SVID213')),\n\t\t{Tool:_SST1_chmbr_2_N2_Temperature_(degC);_SVID214} = toString(byName('Tool:_SST1_chmbr_2_N2_Temperature_(degC);_SVID214')),\n\t\t{Tool:_SST1_chmbr_2_left_vision_score;_SVID215} = toString(byName('Tool:_SST1_chmbr_2_left_vision_score;_SVID215')),\n\t\t{Tool:_SST1_chmbr_2_right_vision_score;_SVID216} = toString(byName('Tool:_SST1_chmbr_2_right_vision_score;_SVID216')),\n\t\t{Snapshot:_SST1_chmbr_2_left_vision_score;_SVID215} = toString(byName('Snapshot:_SST1_chmbr_2_left_vision_score;_SVID215')),\n\t\t{Snapshot:_SST1_chmbr_2_right_vision_score;_SVID216} = toString(byName('Snapshot:_SST1_chmbr_2_right_vision_score;_SVID216')),\n\t\tTool_Bin_Polling_Latency = toString(byName('Tool_Bin_Polling_Latency')),\n\t\tTool_Bin_Data_Age = toString(byName('Tool_Bin_Data_Age')),\n\t\tTool_Bin_Data_Age_SECS = toString(byName('Tool_Bin_Data_Age_SECS'))) ~> MapDrifted1\nMapDrifted1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tpartitionFileNames:['prash_example.parquet'],\n\tmapColumn(\n\t\ttime_relative_sec = {Time Relative (sec)},\n\t\ttime_absolute_utc = {Time Absolute (UTC)},\n\t\ttime_absolute_dt = {Time Absolute (Date_Time)}\n\t),\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> FDCtoParquet"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trasformation')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "sandbox"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedText2",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ParquetDestinationStore",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\tColumn_1 as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/YieldCleanFlow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "sandbox"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "YieldCSVCY",
								"type": "DatasetReference"
							},
							"name": "YieldSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "YieldParquetCY",
								"type": "DatasetReference"
							},
							"name": "YieldSink"
						}
					],
					"transformations": [
						{
							"name": "SelectExtraction"
						}
					],
					"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\twildcardPaths:['sandbox/user/zbmhpw/source/*test1.csv']) ~> YieldSource\nYieldSource select(mapColumn(\n\t\teach(match(true()),\n\t\t\tregexReplace($$,\" \",\"_\") = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectExtraction\nSelectExtraction sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> YieldSink"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleanCSV_Delta_Parquet_ASH')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CleanCSV_ASH",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ASH_Parquet",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"linkedService": {
								"referenceName": "onsemidevmdlstoragelink",
								"type": "LinkedServiceReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\t{_c0} as short,\n\t\tFilename_Translated as string,\n\t\tFilename_Original as string,\n\t\tFabGuard_Version as string,\n\t\tRun_Path_and_Name as string,\n\t\tRecipe_Path_and_Name as string,\n\t\tSensorID as string,\n\t\tVersion as string,\n\t\tAcquired_with_Version as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Group as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_ID as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Description as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Area as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_FabGuard as short,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_ID as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_Description as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Serial_Number as integer,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Version as string,\n\t\tSubstrate_Information_Lot_ID as string,\n\t\tSubstrate_Information_Cassette_ID as short,\n\t\tSubstrate_Information_Slot_ID as short,\n\t\tSubstrate_Information_Substrate_ID as string,\n\t\tSubstrate_Information_Part_ID as string,\n\t\tSubstrate_Information_Layer_ID as string,\n\t\tSubstrate_Information_Technology_ID as string,\n\t\tSubstrate_Information_Substrate_Start_Time_local as timestamp,\n\t\tSubstrate_Information_Substrate_Start_Time_GMT as timestamp,\n\t\tProcess_Information_Operator_ID as string,\n\t\tProcess_Information_Sequence_ID as string,\n\t\tProcess_Information_Recipe_ID as string,\n\t\tProcess_Information_Control_Job_ID as string,\n\t\tProcess_Information_Process_ID as string,\n\t\tExtra_Information_Extra_1_ID as string,\n\t\tExtra_Information_Extra_2_ID as string,\n\t\tExtra_Information_Extra_3_ID as string,\n\t\tExtra_Information_Extra_4_ID as string,\n\t\tExtra_Information_Extra_5_ID as string,\n\t\tExtra_Information_Extra_6_ID as string,\n\t\tExtra_Information_Extra_7_ID as string,\n\t\tExtra_Information_Extra_8_ID as string,\n\t\tGeneral_Info_Start_Time as string,\n\t\tGeneral_Info_Start_Time_at_the_acquisition_location as timestamp,\n\t\tGeneral_Info_FabGuards_Recipe_Path_and_Name as string,\n\t\tGeneral_Info_FabGuards_Recipe_Revision as short,\n\t\tGeneral_Info_FabGuards_Recipe_last_modified_by as string,\n\t\tGeneral_Info_FabGuards_Recipe_last_modified_Time_local as timestamp,\n\t\tGeneral_Info_Start_Time_at_the_acquisition_GMT as timestamp,\n\t\tGeneral_Info_Run_Path_and_Name as string,\n\t\tGeneral_Info_Duration_s as double,\n\t\tGeneral_Info_Number_of_Data_Points as short,\n\t\tGeneral_Info_Number_of_Scans as boolean,\n\t\tGeneral_Info_Number_of_Bins as short,\n\t\tBins as short,\n\t\tTimePoints as short,\n\t\tTimeRelativesec as double,\n\t\tTimeAbsoluteUTC as double,\n\t\tTimeAbsoluteDate_Time as string,\n\t\tStep as boolean,\n\t\tStatus as boolean,\n\t\tTool_Pres_CM_mTorr_SVID167813621 as short,\n\t\tTool_Pwr_Bot_RF_Fwd_W_SVID167813623 as short,\n\t\tTool_Pwr_Bot_RF_Refl_W_SVID167813625 as short,\n\t\tTool_Pwr_Bot_RF_VPP_V_SVID167813627 as short,\n\t\tTool_Pwr_Bot_RF_VDC_V_SVID167813629 as short,\n\t\tTool_Gas_C4F8_Flow_sccm_SVID167813630 as double,\n\t\tTool_Gas_C5F8_Flow_sccm_SVID167813631 as double,\n\t\tTool_Gas_CO_Flow_sccm_SVID167813632 as double,\n\t\tTool_Gas_Ar_Flow_sccm_SVID167813633 as double,\n\t\tTool_Gas_O2_30_sccm_Flow_sccm_SVID167813634 as double,\n\t\tTool_Gas_CHF3_Flow_sccm_SVID167813635 as double,\n\t\tTool_Gas_CF4_Flow_sccm_SVID167813636 as double,\n\t\tTool_Gas_O2_1_SLM_Flow_sccm_SVID167813637 as double,\n\t\tTool_Temp_Elec_Top_degC_SVID167813638 as double,\n\t\tTool_Temp_Wall_Side_degC_SVID167813639 as double,\n\t\tTool_Temp_Elec_Bot_degC_SVID167813640 as double,\n\t\tTool_He_Pres_Back_1_Torr_SVID167813641 as double,\n\t\tTool_He_Pres_Back_2_Torr_SVID167813642 as double,\n\t\tTool_He_Flow_1_sccm_SVID167813643 as double,\n\t\tTool_He_Flow_2_sccm_SVID167813644 as double,\n\t\tTool_ESC_Voltage_V_SVID167813645 as short,\n\t\tTool_ESC_Current_uA_SVID167813646 as short,\n\t\tTool_Pres_APC_Pos_deg_SVID167813647 as double,\n\t\tTool_Gap_Dist_mm_SVID167813648 as double,\n\t\tTool_Cap_C1_Bot_Pos_SVID167813651 as short,\n\t\tTool_Cap_C2_Bot_Pos_SVID167813652 as short,\n\t\tTool_Imped_R_Top_ohm_SVID167813653 as boolean,\n\t\tTool_Imped_Jx_Top_ohm_SVID167813654 as boolean,\n\t\tTool_Imped_R_Bot_ohm_SVID167813655 as boolean,\n\t\tTool_Imped_Jx_Bot_ohm_SVID167813656 as boolean,\n\t\tTool_Phase_SVID167813658 as short,\n\t\tTool_Magnitude_SVID167813659 as short,\n\t\t{Tool_Rcp_Step_Num_SVID167813666_[Tool's_Step]} as short,\n\t\tTool_Rcp_Step_Time_sec_SVID167813667 as double,\n\t\tTool_Gas_CH2F2_Flow_sccm_SVID167813678 as double,\n\t\tTool_Gas_N2_Flow_sccm_SVID167813679 as double,\n\t\tTool_Gas_He_Flow_sccm_SVID167813680 as short,\n\t\tTool_Gas_H2_Flow_sccm_SVID167813681 as double,\n\t\tTool_Gas_CHF3_2_Flow as double,\n\t\tTool_Bin_Polling_Latency as double,\n\t\tTool_Bin_Data_Age as double,\n\t\tTool_Bin_Data_Age_SECS as double,\n\t\tSig_Bot_RF_On as boolean,\n\t\tSig_Edge_He_Backside_Pressure_RF_On as double,\n\t\tSig_Center_He_Backside_Pressure_RF_On as double,\n\t\tSig_Center_He_Backside_Flow_RF_On as double,\n\t\tSig_Edge_He_Backside_Flow_RF_On as double,\n\t\tSig_Upper_Temperature_RF_On as double,\n\t\tSig_Side_Temperature_RF_On as double,\n\t\tSig_Lower_Temperature_RF_On as double,\n\t\tSig_ElectroStatic_Chuck_Voltage_RF_On as double,\n\t\tSig_ElectroStatic_Chuck_Current_RF_On as double,\n\t\tSig_Chamber_Pressure_RF_On_Steady_State_post_Run as double,\n\t\tSig_CH2F2_Flow_RF_On as double,\n\t\tSig_Vpp_Arc_Counter_1450_W as double,\n\t\tSig_No_arc__0 as double,\n\t\t{Sig_Vpp_Arc_Counter_1200-1450_W} as double,\n\t\tSig_Vpp_Arc_Counter_1450_W_v2_post_Run as double,\n\t\tSig_Reflected_Power_of_Stady_State_post_Run as double,\n\t\tSig_Filter_Acceptable_Data_Age as boolean,\n\t\t{Sig_Pwr_Bot_RF_Fwd_DevAvg_Steady_State_5-60} as double,\n\t\t{Sig_Gas_Ar_Steady_State_5-60_RF_On_post_Run} as double,\n\t\t{Sig_Gas_Ar_DevAvg_Steady_State_5-60_RF_On_post_Run} as double,\n\t\tSig_VPP_TRIM_Step_4_post_Run as double,\n\t\tSig_C4F8_TRIM_Step_4_post_Run as double,\n\t\tSig_VPP_TRIM_Step_2_post_Run as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tpartitionBy('hash', 1)) ~> source1\nsource1 sink(input(\n\t\t{_c0} as string,\n\t\tFilename_Translated as string,\n\t\tFilename_Original as string,\n\t\tFabGuard_Version as string,\n\t\tRun_Path_and_Name as string,\n\t\tRecipe_Path_and_Name as string,\n\t\tSensorID as string,\n\t\tVersion as string,\n\t\tAcquired_with_Version as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Group as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_ID as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Description as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Area as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_FabGuard as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_ID as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_Description as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Serial_Number as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Version as string,\n\t\tSubstrate_Information_Lot_ID as string,\n\t\tSubstrate_Information_Cassette_ID as string,\n\t\tSubstrate_Information_Slot_ID as string,\n\t\tSubstrate_Information_Substrate_ID as string,\n\t\tSubstrate_Information_Part_ID as string,\n\t\tSubstrate_Information_Layer_ID as string,\n\t\tSubstrate_Information_Technology_ID as string,\n\t\tSubstrate_Information_Substrate_Start_Time_local as string,\n\t\tSubstrate_Information_Substrate_Start_Time_GMT as string,\n\t\tProcess_Information_Operator_ID as string,\n\t\tProcess_Information_Sequence_ID as string,\n\t\tProcess_Information_Recipe_ID as string,\n\t\tProcess_Information_Control_Job_ID as string,\n\t\tProcess_Information_Process_ID as string,\n\t\tExtra_Information_Extra_1_ID as string,\n\t\tExtra_Information_Extra_2_ID as string,\n\t\tExtra_Information_Extra_3_ID as string,\n\t\tExtra_Information_Extra_4_ID as string,\n\t\tExtra_Information_Extra_5_ID as string,\n\t\tExtra_Information_Extra_6_ID as string,\n\t\tExtra_Information_Extra_7_ID as string,\n\t\tExtra_Information_Extra_8_ID as string,\n\t\tGeneral_Info_Start_Time as string,\n\t\tGeneral_Info_Start_Time_at_the_acquisition_location as string,\n\t\tGeneral_Info_FabGuards_Recipe_Path_and_Name as string,\n\t\tGeneral_Info_FabGuards_Recipe_Revision as string,\n\t\tGeneral_Info_FabGuards_Recipe_last_modified_by as string,\n\t\tGeneral_Info_FabGuards_Recipe_last_modified_Time_local as string,\n\t\tGeneral_Info_Start_Time_at_the_acquisition_GMT as string,\n\t\tGeneral_Info_Run_Path_and_Name as string,\n\t\tGeneral_Info_Duration_s as string,\n\t\tGeneral_Info_Number_of_Data_Points as string,\n\t\tGeneral_Info_Number_of_Scans as string,\n\t\tGeneral_Info_Number_of_Bins as string,\n\t\tBins as string,\n\t\tTimePoints as string,\n\t\tTimeRelativesec as string,\n\t\tTimeAbsoluteUTC as string,\n\t\tTimeAbsoluteDate_Time as string,\n\t\tStep as string,\n\t\tStatus as string,\n\t\tTool_Pres_CM_mTorr_SVID167813621 as string,\n\t\tTool_Pwr_Bot_RF_Fwd_W_SVID167813623 as string,\n\t\tTool_Pwr_Bot_RF_Refl_W_SVID167813625 as string,\n\t\tTool_Pwr_Bot_RF_VPP_V_SVID167813627 as string,\n\t\tTool_Pwr_Bot_RF_VDC_V_SVID167813629 as string,\n\t\tTool_Gas_C4F8_Flow_sccm_SVID167813630 as string,\n\t\tTool_Gas_C5F8_Flow_sccm_SVID167813631 as string,\n\t\tTool_Gas_CO_Flow_sccm_SVID167813632 as string,\n\t\tTool_Gas_Ar_Flow_sccm_SVID167813633 as string,\n\t\tTool_Gas_O2_30_sccm_Flow_sccm_SVID167813634 as string,\n\t\tTool_Gas_CHF3_Flow_sccm_SVID167813635 as string,\n\t\tTool_Gas_CF4_Flow_sccm_SVID167813636 as string,\n\t\tTool_Gas_O2_1_SLM_Flow_sccm_SVID167813637 as string,\n\t\tTool_Temp_Elec_Top_degC_SVID167813638 as string,\n\t\tTool_Temp_Wall_Side_degC_SVID167813639 as string,\n\t\tTool_Temp_Elec_Bot_degC_SVID167813640 as string,\n\t\tTool_He_Pres_Back_1_Torr_SVID167813641 as string,\n\t\tTool_He_Pres_Back_2_Torr_SVID167813642 as string,\n\t\tTool_He_Flow_1_sccm_SVID167813643 as string,\n\t\tTool_He_Flow_2_sccm_SVID167813644 as string,\n\t\tTool_ESC_Voltage_V_SVID167813645 as string,\n\t\tTool_ESC_Current_uA_SVID167813646 as string,\n\t\tTool_Pres_APC_Pos_deg_SVID167813647 as string,\n\t\tTool_Gap_Dist_mm_SVID167813648 as string,\n\t\tTool_Cap_C1_Bot_Pos_SVID167813651 as string,\n\t\tTool_Cap_C2_Bot_Pos_SVID167813652 as string,\n\t\tTool_Imped_R_Top_ohm_SVID167813653 as string,\n\t\tTool_Imped_Jx_Top_ohm_SVID167813654 as string,\n\t\tTool_Imped_R_Bot_ohm_SVID167813655 as string,\n\t\tTool_Imped_Jx_Bot_ohm_SVID167813656 as string,\n\t\tTool_Phase_SVID167813658 as string,\n\t\tTool_Magnitude_SVID167813659 as string,\n\t\t{Tool_Rcp_Step_Num_SVID167813666_[Tool's_Step]} as string,\n\t\tTool_Rcp_Step_Time_sec_SVID167813667 as string,\n\t\tTool_Gas_CH2F2_Flow_sccm_SVID167813678 as string,\n\t\tTool_Gas_N2_Flow_sccm_SVID167813679 as string,\n\t\tTool_Gas_He_Flow_sccm_SVID167813680 as string,\n\t\tTool_Gas_H2_Flow_sccm_SVID167813681 as string,\n\t\tTool_Gas_CHF3_2_Flow as string,\n\t\tTool_Bin_Polling_Latency as string,\n\t\tTool_Bin_Data_Age as string,\n\t\tTool_Bin_Data_Age_SECS as string,\n\t\tSig_Bot_RF_On as string,\n\t\tSig_Edge_He_Backside_Pressure_RF_On as string,\n\t\tSig_Center_He_Backside_Pressure_RF_On as string,\n\t\tSig_Center_He_Backside_Flow_RF_On as string,\n\t\tSig_Edge_He_Backside_Flow_RF_On as string,\n\t\tSig_Upper_Temperature_RF_On as string,\n\t\tSig_Side_Temperature_RF_On as string,\n\t\tSig_Lower_Temperature_RF_On as string,\n\t\tSig_ElectroStatic_Chuck_Voltage_RF_On as string,\n\t\tSig_ElectroStatic_Chuck_Current_RF_On as string,\n\t\tSig_Chamber_Pressure_RF_On_Steady_State_post_Run as string,\n\t\tSig_CH2F2_Flow_RF_On as string,\n\t\tSig_Vpp_Arc_Counter_1450_W as string,\n\t\tSig_No_arc__0 as string,\n\t\t{Sig_Vpp_Arc_Counter_1200-1450_W} as string,\n\t\tSig_Vpp_Arc_Counter_1450_W_v2_post_Run as string,\n\t\tSig_Reflected_Power_of_Stady_State_post_Run as string,\n\t\tSig_Filter_Acceptable_Data_Age as string,\n\t\t{Sig_Pwr_Bot_RF_Fwd_DevAvg_Steady_State_5-60} as string,\n\t\t{Sig_Gas_Ar_Steady_State_5-60_RF_On_post_Run} as string,\n\t\t{Sig_Gas_Ar_DevAvg_Steady_State_5-60_RF_On_post_Run} as string,\n\t\tSig_VPP_TRIM_Step_4_post_Run as string,\n\t\tSig_C4F8_TRIM_Step_4_post_Run as string,\n\t\tSig_VPP_TRIM_Step_2_post_Run as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tmapColumn(\n\t\teach(match(true()),\n\t\t\treplace(replace(replace($$,'\\'',''),'[',''),']','') = $$)\n\t),\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'delta',\n\tcompressionType: 'snappy',\n\tcompressionLevel: 'Fastest',\n\tfileSystem: 'adls',\n\tfolderPath: 'translated/examples/ASH.delta.df',\n\ttruncate: false,\n\tmergeSchema: false,\n\tvacuum: 0,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tmapColumn(\n\t\teach(match(true()),\n\t\t\treplace(replace(replace($$,'\\'',''),'[',''),']','') = $$)\n\t),\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleanCSV_Delta_Parquet_ETH')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CleanCSV_ETH",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ETH_Parquet",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"linkedService": {
								"referenceName": "onsemidevmdlstoragelink",
								"type": "LinkedServiceReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\t{_c0} as short,\n\t\tFilename_Translated as string,\n\t\tFilename_Original as string,\n\t\tFabGuard_Version as string,\n\t\tRun_Path_and_Name as string,\n\t\tRecipe_Path_and_Name as string,\n\t\tSensorID as string,\n\t\tVersion as string,\n\t\tAcquired_with_Version as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Group as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_ID as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Description as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Area as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Tool_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_FabGuard as short,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_ID as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_Description as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_Chamber_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Type as string,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Serial_Number as integer,\n\t\tEquipment_Information_Tool_Chamber_and_Sensor_1_TDS_Version as string,\n\t\tSubstrate_Information_Lot_ID as string,\n\t\tSubstrate_Information_Cassette_ID as short,\n\t\tSubstrate_Information_Slot_ID as short,\n\t\tSubstrate_Information_Substrate_ID as string,\n\t\tSubstrate_Information_Part_ID as string,\n\t\tSubstrate_Information_Layer_ID as string,\n\t\tSubstrate_Information_Technology_ID as string,\n\t\tSubstrate_Information_Substrate_Start_Time_local as timestamp,\n\t\tSubstrate_Information_Substrate_Start_Time_GMT as timestamp,\n\t\tProcess_Information_Operator_ID as string,\n\t\tProcess_Information_Sequence_ID as string,\n\t\tProcess_Information_Recipe_ID as string,\n\t\tProcess_Information_Control_Job_ID as string,\n\t\tProcess_Information_Process_ID as string,\n\t\tExtra_Information_Extra_1_ID as string,\n\t\tExtra_Information_Extra_2_ID as string,\n\t\tExtra_Information_Extra_3_ID as string,\n\t\tExtra_Information_Extra_4_ID as string,\n\t\tExtra_Information_Extra_5_ID as string,\n\t\tExtra_Information_Extra_6_ID as string,\n\t\tExtra_Information_Extra_7_ID as string,\n\t\tExtra_Information_Extra_8_ID as string,\n\t\tGeneral_Info_Start_Time as string,\n\t\tGeneral_Info_Start_Time_at_the_acquisition_location as timestamp,\n\t\tGeneral_Info_FabGuards_Recipe_Path_and_Name as string,\n\t\tGeneral_Info_FabGuards_Recipe_Revision as short,\n\t\tGeneral_Info_FabGuards_Recipe_last_modified_by as string,\n\t\tGeneral_Info_FabGuards_Recipe_last_modified_Time_local as timestamp,\n\t\tGeneral_Info_Start_Time_at_the_acquisition_GMT as timestamp,\n\t\tGeneral_Info_Run_Path_and_Name as string,\n\t\tGeneral_Info_Duration_s as double,\n\t\tGeneral_Info_Number_of_Data_Points as short,\n\t\tGeneral_Info_Number_of_Scans as boolean,\n\t\tGeneral_Info_Number_of_Bins as short,\n\t\tBins as short,\n\t\tTimePoints as short,\n\t\tTimeRelativesec as double,\n\t\tTimeAbsoluteUTC as double,\n\t\tTimeAbsoluteDate_Time as string,\n\t\tStep as boolean,\n\t\tStatus as boolean,\n\t\tTool_Pres_CM_mTorr_SVID167813621 as short,\n\t\tTool_Pwr_Bot_RF_Fwd_W_SVID167813623 as short,\n\t\tTool_Pwr_Bot_RF_Refl_W_SVID167813625 as short,\n\t\tTool_Pwr_Bot_RF_VPP_V_SVID167813627 as short,\n\t\tTool_Pwr_Bot_RF_VDC_V_SVID167813629 as short,\n\t\tTool_Gas_C4F8_Flow_sccm_SVID167813630 as double,\n\t\tTool_Gas_C5F8_Flow_sccm_SVID167813631 as double,\n\t\tTool_Gas_CO_Flow_sccm_SVID167813632 as double,\n\t\tTool_Gas_Ar_Flow_sccm_SVID167813633 as double,\n\t\tTool_Gas_O2_30_sccm_Flow_sccm_SVID167813634 as double,\n\t\tTool_Gas_CHF3_Flow_sccm_SVID167813635 as double,\n\t\tTool_Gas_CF4_Flow_sccm_SVID167813636 as double,\n\t\tTool_Gas_O2_1_SLM_Flow_sccm_SVID167813637 as double,\n\t\tTool_Temp_Elec_Top_degC_SVID167813638 as double,\n\t\tTool_Temp_Wall_Side_degC_SVID167813639 as double,\n\t\tTool_Temp_Elec_Bot_degC_SVID167813640 as double,\n\t\tTool_He_Pres_Back_1_Torr_SVID167813641 as double,\n\t\tTool_He_Pres_Back_2_Torr_SVID167813642 as double,\n\t\tTool_He_Flow_1_sccm_SVID167813643 as double,\n\t\tTool_He_Flow_2_sccm_SVID167813644 as double,\n\t\tTool_ESC_Voltage_V_SVID167813645 as short,\n\t\tTool_ESC_Current_uA_SVID167813646 as short,\n\t\tTool_Pres_APC_Pos_deg_SVID167813647 as double,\n\t\tTool_Gap_Dist_mm_SVID167813648 as double,\n\t\tTool_Cap_C1_Bot_Pos_SVID167813651 as short,\n\t\tTool_Cap_C2_Bot_Pos_SVID167813652 as short,\n\t\tTool_Imped_R_Top_ohm_SVID167813653 as boolean,\n\t\tTool_Imped_Jx_Top_ohm_SVID167813654 as boolean,\n\t\tTool_Imped_R_Bot_ohm_SVID167813655 as boolean,\n\t\tTool_Imped_Jx_Bot_ohm_SVID167813656 as boolean,\n\t\tTool_Phase_SVID167813658 as short,\n\t\tTool_Magnitude_SVID167813659 as short,\n\t\t{Tool_Rcp_Step_Num_SVID167813666_[Tool's_Step]} as short,\n\t\tTool_Rcp_Step_Time_sec_SVID167813667 as double,\n\t\tTool_Gas_CH2F2_Flow_sccm_SVID167813678 as double,\n\t\tTool_Gas_N2_Flow_sccm_SVID167813679 as double,\n\t\tTool_Gas_He_Flow_sccm_SVID167813680 as short,\n\t\tTool_Gas_H2_Flow_sccm_SVID167813681 as double,\n\t\tTool_Gas_CHF3_2_Flow as double,\n\t\tTool_Bin_Polling_Latency as double,\n\t\tTool_Bin_Data_Age as double,\n\t\tTool_Bin_Data_Age_SECS as double,\n\t\tSig_Bot_RF_On as boolean,\n\t\tSig_Edge_He_Backside_Pressure_RF_On as double,\n\t\tSig_Center_He_Backside_Pressure_RF_On as double,\n\t\tSig_Center_He_Backside_Flow_RF_On as double,\n\t\tSig_Edge_He_Backside_Flow_RF_On as double,\n\t\tSig_Upper_Temperature_RF_On as double,\n\t\tSig_Side_Temperature_RF_On as double,\n\t\tSig_Lower_Temperature_RF_On as double,\n\t\tSig_ElectroStatic_Chuck_Voltage_RF_On as double,\n\t\tSig_ElectroStatic_Chuck_Current_RF_On as double,\n\t\tSig_Chamber_Pressure_RF_On_Steady_State_post_Run as double,\n\t\tSig_CH2F2_Flow_RF_On as double,\n\t\tSig_Vpp_Arc_Counter_1450_W as double,\n\t\t{Sig_No_arc_=_0} as double,\n\t\t{Sig_Vpp_Arc_Counter_1200-1450_W} as double,\n\t\tSig_Vpp_Arc_Counter_1450_W_v2_post_Run as double,\n\t\tSig_Reflected_Power_of_Stady_State_post_Run as double,\n\t\tSig_Filter_Acceptable_Data_Age as boolean,\n\t\t{Sig_Pwr_Bot_RF_Fwd_DevAvg_Steady_State_5-60} as double,\n\t\t{Sig_Gas_Ar_Steady_State_5-60_RF_On_post_Run} as double,\n\t\t{Sig_Gas_Ar_DevAvg_Steady_State_5-60_RF_On_post_Run} as double,\n\t\tSig_VPP_TRIM_Step_4_post_Run as double,\n\t\tSig_C4F8_TRIM_Step_4_post_Run as double,\n\t\tSig_VPP_TRIM_Step_2_post_Run as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tpartitionBy('hash', 1)) ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tmapColumn(\n\t\teach(match(true()),\n\t\t\treplace($$,'=','') = $$)\n\t),\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'delta',\n\tcompressionType: 'snappy',\n\tcompressionLevel: 'Fastest',\n\tfileSystem: 'adls',\n\tfolderPath: 'translated/examples/ETH.delta.df',\n\ttruncate: false,\n\tmergeSchema: false,\n\tvacuum: 0,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tmapColumn(\n\t\teach(match(true()),\n\t\t\treplace($$,'=','') = $$)\n\t),\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/unzip_copy_csv_delta')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "compressedcsv",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "USRWEH_Parquet",
								"type": "DatasetReference"
							},
							"name": "sink2"
						},
						{
							"linkedService": {
								"referenceName": "onsemidevmdlstoragelink",
								"type": "LinkedServiceReference"
							},
							"name": "sink4"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "source(output(\n\t\tLotId as string,\n\t\tFab as string,\n\t\tFamily as string,\n\t\tTechnology as string,\n\t\tPlan as string,\n\t\tDevice as string,\n\t\tSourceLot as string,\n\t\tLotClass as string,\n\t\twf_num as short,\n\t\twf_id as string,\n\t\tSequence as string,\n\t\tProcStep as string,\n\t\tStage as string,\n\t\torig_slot as short,\n\t\tfinal_slot as short,\n\t\torig_cass as short,\n\t\tfinal_cass as short,\n\t\tzone as string,\n\t\tzone_seat as string,\n\t\tboat_seat as string,\n\t\tsubtool as string,\n\t\tequipment as string,\n\t\ttrackInTime as string,\n\t\ttrackOutTime as string,\n\t\trecipe as string,\n\t\tOperator as string,\n\t\tTooling as string,\n\t\tReworkCount as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tskipLines: 1,\n\twildcardPaths:['inbound/site/USR/WEH/*.gz']) ~> source2\nsource2 derive(trackInTime_formated = toTimestamp(trackInTime, 'yyyyMMddHHmmss'),\n\t\ttrackOutTime_formated = toTimestamp(trackOutTime, 'yyyyMMddHHmmss')) ~> DerivedColumn1\nDerivedColumn1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink2\nDerivedColumn1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'delta',\n\tfileSystem: 'adls',\n\tfolderPath: 'translated/delta/site/USR/WEH',\n\ttruncate: false,\n\tmergeSchema: false,\n\tvacuum: 0,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink4"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASH_test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cleanCSV_Delta_Parquet_ASH",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "cleanCSV_Delta_Parquet_ASH",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"folder": {
					"name": "sandbox"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/cleanCSV_Delta_Parquet_ASH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFiles_from_adls_toprem')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Scan the file path on your source storage store and get the container list.",
				"activities": [
					{
						"name": "EnumerateContainersList",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BinarySourceFileStore2",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.SourceFileFolder",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.SourceFileDirectory",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEachContainer",
						"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "EnumerateContainersList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('EnumerateContainersList').output.childItems",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "CopyOneContainer",
									"description": "Copy each container from source storage store to destination store.",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "FileServerWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "BinarySourceFileStore2",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().parameters.SourceFileFolder",
													"type": "Expression"
												},
												"directory": {
													"value": "@concat(pipeline().parameters.SourceFileDirectory,'/',item().name)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "BinarySinkFileStore2",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": {
													"value": "@pipeline().parameters.DestinationFileFolder",
													"type": "Expression"
												},
												"directory": {
													"value": "@concat(pipeline().parameters.DestinationFileDirectory,'/',item().name)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"SourceFileFolder": {
						"type": "string",
						"defaultValue": "adls"
					},
					"SourceFileDirectory": {
						"type": "string",
						"defaultValue": "outbound"
					},
					"DestinationFileFolder": {
						"type": "string",
						"defaultValue": "outbound"
					},
					"DestinationFileDirectory": {
						"type": "string",
						"defaultValue": "staged"
					}
				},
				"folder": {
					"name": "Copy Jobs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFilesfromMultipleContainers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Scan the file path on your source storage store and get the container list.",
				"activities": [
					{
						"name": "EnumerateContainersList",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BinarySourceFileStore1",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": {
										"value": "@pipeline().parameters.SourceFileFolder",
										"type": "Expression"
									},
									"directory": "@pipeline().parameters.SourceFileDirectory"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "FileServerReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEachContainer",
						"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "EnumerateContainersList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('EnumerateContainersList').output.childItems",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "CopyOneContainer",
									"description": "Copy each container from source storage store to destination store.",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "FileServerReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false
									},
									"inputs": [
										{
											"referenceName": "BinarySourceFileStore1",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@pipeline().parameters.SourceFileFolder",
												"directory": "@concat(pipeline().parameters.SourceFileDirectory,'/',item().name)"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "BinarySinkFileStore",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().parameters.DestinationFileFolder",
													"type": "Expression"
												},
												"directory": {
													"value": "@concat(pipeline().parameters.DestinationFileDirectory,'/',item().name)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "DeleteActivity",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "CopyOneContainer",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "BinarySourceFileStore1",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@pipeline().parameters.SourceFileFolder",
												"directory": "@concat(pipeline().parameters.SourceFileDirectory,'/',item().name)"
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "onsemidevmdlstoragelink",
												"type": "LinkedServiceReference"
											},
											"path": "adls/inbound/logs"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "FileServerReadSettings",
											"recursive": true,
											"wildcardFileName": "*.*"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"SourceFileFolder": {
						"type": "string",
						"defaultValue": "inbound"
					},
					"SourceFileDirectory": {
						"type": "string",
						"defaultValue": "staged"
					},
					"DestinationFileFolder": {
						"type": "string",
						"defaultValue": "adls"
					},
					"DestinationFileDirectory": {
						"type": "string",
						"defaultValue": "inbound"
					}
				},
				"folder": {
					"name": "Copy Jobs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Databricks_ETL_ASH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ETL_USR_ASH_parsing",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_ASH_dev"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "cleanCSV_Delta_Parquet_ASH",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ETL_USR_ASH_parsing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "cleanCSV_Delta_Parquet_ASH",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ETL_USR_ASH_csv",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ETL_USR_ASH_parsing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_ASH_csv_delta_parquet_dev"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FDC_ASH_PIM_Batch_Detection",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ETL_USR_ASH_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/FDC_Batch_Detection/FDC_ASH_PIM_Batch_Detection"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Databricks_ETL"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/cleanCSV_Delta_Parquet_ASH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Databricks_ETL_ETH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ETL_USR_ETH",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_ETH_dev"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "cleanCSV_Delta_Parquet_ETH",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ETL_USR_ETH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "cleanCSV_Delta_Parquet_ETH",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"folder": {
					"name": "Databricks_ETL"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/cleanCSV_Delta_Parquet_ETH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ETH_test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cleanCSV_Delta_Parquet_ETH",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "cleanCSV_Delta_Parquet_ETH",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"folder": {
					"name": "sandbox"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/cleanCSV_Delta_Parquet_ETH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MergeCSVToParquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MergeCSV_to_Parquet",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MergeCSV_to_Parquet",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"folder": {
					"name": "sandbox"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/MergeCSV_to_Parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RecursiveConvertCSVToParquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Scan the file path on your source storage store and get the container list.",
				"activities": [
					{
						"name": "EnumerateContainersList",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BinarySourceFileStore3",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.SourceFileFolder",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.SourceFileDirectory",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEachContainer",
						"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FolderFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FolderFilter').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "CopyOneContainer",
									"description": "Copy each container from source storage store to destination store.",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DataFlowForCSVMergeToParquet",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": {
													"value": "@concat(pipeline().parameters.SourceFileDirectory,'/',item().name)",
													"type": "Expression"
												},
												"wildcardFileName": "*.parquet",
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "BinarySourceFileStore3",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().parameters.SourceFileFolder",
													"type": "Expression"
												},
												"directory": {
													"value": "@concat(pipeline().parameters.SourceFileDirectory,'/',item().name)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "BinarySinkFileStore3",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().parameters.DestinationFileFolder",
													"type": "Expression"
												},
												"directory": {
													"value": "@concat(pipeline().parameters.DestinationFileDirectory,'/',item().name)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "DataFlowForCSVMergeToParquet",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DataFlowForCSVMergeToParquet",
											"type": "DataFlowReference",
											"parameters": {
												"recursiveInputPath": {
													"value": "'@{concat(pipeline().parameters.SourceFileDirectory,'/',item().name)}'",
													"type": "Expression"
												},
												"recursiveOutputPath": {
													"value": "'@{concat(pipeline().parameters.DestinationFileDirectory,'/',item().name)}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"source1": {},
												"sink1": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "FolderFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "EnumerateContainersList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('EnumerateContainersList').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(equals(item().type, 'Folder'), equals(item().name, '2020-008-01'))",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"SourceFileFolder": {
						"type": "string",
						"defaultValue": "adls"
					},
					"SourceFileDirectory": {
						"type": "string",
						"defaultValue": "translated/csv/site/USR/FDC/Tools/ASH10653"
					},
					"DestinationFileFolder": {
						"type": "string",
						"defaultValue": "adls"
					},
					"DestinationFileDirectory": {
						"type": "string",
						"defaultValue": "translated/parquet/site/USR/FDC/Tools/ASH10653"
					}
				},
				"folder": {
					"name": "sandbox"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DataFlowForCSVMergeToParquet')]"
			]
		}
	]
}