Mfg-Data-Lake-DEV-Factory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Mfg-Data-Lake-DEV-Factory"
		},
		"ONPREMALLUSERS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ONPREMALLUSERS'"
		},
		"ONPREMVM_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ONPREMVM'"
		},
		"fabtimesqlserver_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'fabtimesqlserver'"
		},
		"ONPREMALLUSERS_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\USCO01WS0029\\adls"
		},
		"ONPREMALLUSERS_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "onsemi\\fabtimesys"
		},
		"ONPREMVM_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\USCO01WS0029.ad.onsemi.com\\MLArtifacts"
		},
		"ONPREMVM_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "onsemi\\fabtimesys"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ETH_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "translated/examples/ETH.parquet.df",
						"fileSystem": "adls"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FDCData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "GAY11091.1-example1.dat",
						"folderPath": "inbound/site/USR/FDC/Samples",
						"fileSystem": "adls"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FDCMetaData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "GAY11091.1-example1.dat",
						"folderPath": "inbound/site/USR/FDC/Samples",
						"fileSystem": "adls"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FDCParquetDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "inbound/site/USR/FDC/Samples",
						"fileSystem": "adls"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GetMetadataDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your source data store.",
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceContainer": {
						"type": "string"
					},
					"SourceDirectory": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().SourceDirectory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().SourceContainer",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "translated/examples/ASH.delta.df",
						"fileSystem": "adls"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "_c0",
						"type": "UTF8"
					},
					{
						"name": "Filename_Translated",
						"type": "UTF8"
					},
					{
						"name": "Filename_Original",
						"type": "UTF8"
					},
					{
						"name": "FabGuard_Version",
						"type": "UTF8"
					},
					{
						"name": "Run_Path_and_Name",
						"type": "UTF8"
					},
					{
						"name": "Recipe_Path_and_Name",
						"type": "UTF8"
					},
					{
						"name": "SensorID",
						"type": "UTF8"
					},
					{
						"name": "Version",
						"type": "UTF8"
					},
					{
						"name": "Acquired_with_Version",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Group",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_ID",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Description",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Area",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Type",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_FabGuard",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_ID",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_Description",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_Type",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_1_TDS_Type",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_1_TDS_Serial_Number",
						"type": "UTF8"
					},
					{
						"name": "Equipment_Information_Tool_Chamber_and_Sensor_1_TDS_Version",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Lot_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Cassette_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Slot_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Substrate_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Part_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Layer_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Technology_ID",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Substrate_Start_Time_local",
						"type": "UTF8"
					},
					{
						"name": "Substrate_Information_Substrate_Start_Time_GMT",
						"type": "UTF8"
					},
					{
						"name": "Process_Information_Operator_ID",
						"type": "UTF8"
					},
					{
						"name": "Process_Information_Sequence_ID",
						"type": "UTF8"
					},
					{
						"name": "Process_Information_Recipe_ID",
						"type": "UTF8"
					},
					{
						"name": "Process_Information_Control_Job_ID",
						"type": "UTF8"
					},
					{
						"name": "Process_Information_Process_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_1_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_2_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_3_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_4_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_5_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_6_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_7_ID",
						"type": "UTF8"
					},
					{
						"name": "Extra_Information_Extra_8_ID",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Start_Time",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Start_Time_at_the_acquisition_location",
						"type": "UTF8"
					},
					{
						"name": "General_Info_FabGuards_Recipe_Path_and_Name",
						"type": "UTF8"
					},
					{
						"name": "General_Info_FabGuards_Recipe_Revision",
						"type": "UTF8"
					},
					{
						"name": "General_Info_FabGuards_Recipe_last_modified_by",
						"type": "UTF8"
					},
					{
						"name": "General_Info_FabGuards_Recipe_last_modified_Time_local",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Start_Time_at_the_acquisition_GMT",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Run_Path_and_Name",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Duration_s",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Number_of_Data_Points",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Number_of_Scans",
						"type": "UTF8"
					},
					{
						"name": "General_Info_Number_of_Bins",
						"type": "UTF8"
					},
					{
						"name": "Bins",
						"type": "UTF8"
					},
					{
						"name": "TimePoints",
						"type": "UTF8"
					},
					{
						"name": "TimeRelativesec",
						"type": "UTF8"
					},
					{
						"name": "TimeAbsoluteUTC",
						"type": "UTF8"
					},
					{
						"name": "TimeAbsoluteDate_Time",
						"type": "UTF8"
					},
					{
						"name": "Step",
						"type": "UTF8"
					},
					{
						"name": "Status",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pres_CM_mTorr_SVID167813621",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pwr_Bot_RF_Fwd_W_SVID167813623",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pwr_Bot_RF_Refl_W_SVID167813625",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pwr_Bot_RF_VPP_V_SVID167813627",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pwr_Bot_RF_VDC_V_SVID167813629",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_C4F8_Flow_sccm_SVID167813630",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_C5F8_Flow_sccm_SVID167813631",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_CO_Flow_sccm_SVID167813632",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_Ar_Flow_sccm_SVID167813633",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_O2_30_sccm_Flow_sccm_SVID167813634",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_CHF3_Flow_sccm_SVID167813635",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_CF4_Flow_sccm_SVID167813636",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_O2_1_SLM_Flow_sccm_SVID167813637",
						"type": "UTF8"
					},
					{
						"name": "Tool_Temp_Elec_Top_degC_SVID167813638",
						"type": "UTF8"
					},
					{
						"name": "Tool_Temp_Wall_Side_degC_SVID167813639",
						"type": "UTF8"
					},
					{
						"name": "Tool_Temp_Elec_Bot_degC_SVID167813640",
						"type": "UTF8"
					},
					{
						"name": "Tool_He_Pres_Back_1_Torr_SVID167813641",
						"type": "UTF8"
					},
					{
						"name": "Tool_He_Pres_Back_2_Torr_SVID167813642",
						"type": "UTF8"
					},
					{
						"name": "Tool_He_Flow_1_sccm_SVID167813643",
						"type": "UTF8"
					},
					{
						"name": "Tool_He_Flow_2_sccm_SVID167813644",
						"type": "UTF8"
					},
					{
						"name": "Tool_ESC_Voltage_V_SVID167813645",
						"type": "UTF8"
					},
					{
						"name": "Tool_ESC_Current_uA_SVID167813646",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pres_APC_Pos_deg_SVID167813647",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gap_Dist_mm_SVID167813648",
						"type": "UTF8"
					},
					{
						"name": "Tool_Cap_C1_Bot_Pos_SVID167813651",
						"type": "UTF8"
					},
					{
						"name": "Tool_Cap_C2_Bot_Pos_SVID167813652",
						"type": "UTF8"
					},
					{
						"name": "Tool_Imped_R_Top_ohm_SVID167813653",
						"type": "UTF8"
					},
					{
						"name": "Tool_Imped_Jx_Top_ohm_SVID167813654",
						"type": "UTF8"
					},
					{
						"name": "Tool_Imped_R_Bot_ohm_SVID167813655",
						"type": "UTF8"
					},
					{
						"name": "Tool_Imped_Jx_Bot_ohm_SVID167813656",
						"type": "UTF8"
					},
					{
						"name": "Tool_Phase_SVID167813658",
						"type": "UTF8"
					},
					{
						"name": "Tool_Magnitude_SVID167813659",
						"type": "UTF8"
					},
					{
						"name": "Tool_Rcp_Step_Num_SVID167813666_[Tool's_Step]",
						"type": "UTF8"
					},
					{
						"name": "Tool_Rcp_Step_Time_sec_SVID167813667",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_CH2F2_Flow_sccm_SVID167813678",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_N2_Flow_sccm_SVID167813679",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_He_Flow_sccm_SVID167813680",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_H2_Flow_sccm_SVID167813681",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_CHF3_2_Flow",
						"type": "UTF8"
					},
					{
						"name": "Tool_Bin_Polling_Latency",
						"type": "UTF8"
					},
					{
						"name": "Tool_Bin_Data_Age",
						"type": "UTF8"
					},
					{
						"name": "Tool_Bin_Data_Age_SECS",
						"type": "UTF8"
					},
					{
						"name": "Sig_Bot_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Edge_He_Backside_Pressure_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Center_He_Backside_Pressure_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Center_He_Backside_Flow_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Edge_He_Backside_Flow_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Upper_Temperature_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Side_Temperature_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Lower_Temperature_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_ElectroStatic_Chuck_Voltage_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_ElectroStatic_Chuck_Current_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Chamber_Pressure_RF_On_Steady_State_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_CH2F2_Flow_RF_On",
						"type": "UTF8"
					},
					{
						"name": "Sig_Vpp_Arc_Counter_1450_W",
						"type": "UTF8"
					},
					{
						"name": "Sig_No_arc__0",
						"type": "UTF8"
					},
					{
						"name": "Sig_Vpp_Arc_Counter_1200-1450_W",
						"type": "UTF8"
					},
					{
						"name": "Sig_Vpp_Arc_Counter_1450_W_v2_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Reflected_Power_of_Stady_State_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Filter_Acceptable_Data_Age",
						"type": "UTF8"
					},
					{
						"name": "Sig_Pwr_Bot_RF_Fwd_DevAvg_Steady_State_5-60",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_Ar_Steady_State_5-60_RF_On_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_Ar_DevAvg_Steady_State_5-60_RF_On_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_VPP_TRIM_Step_4_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_C4F8_TRIM_Step_4_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_VPP_TRIM_Step_2_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_-_CF4_Flow_sccm_SVID180",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_-_O2_Large_Flow_sccm_SVID181",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_-_NF3_Flow_sccm_SVID182",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_-_N2H2_Flow_sccm_SVID183",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_-_Argon_Flow_sccm_SVID184",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pres-_Chamber_Pressure_torr_SVID186",
						"type": "UTF8"
					},
					{
						"name": "Tool_Temp_-_Hot_Plate_C_SVID187",
						"type": "UTF8"
					},
					{
						"name": "Tool_EP_-_Photo_Multiplier_Vout_v_SVID188",
						"type": "UTF8"
					},
					{
						"name": "Tool_RF_Bias_SVID189",
						"type": "UTF8"
					},
					{
						"name": "Tool_RF_Match_C1_Pos_%_SVID190",
						"type": "UTF8"
					},
					{
						"name": "Tool_RF_Match_C2_Pos_%_SVID191",
						"type": "UTF8"
					},
					{
						"name": "Tool_RF_Forward_Power_Watts_SVID192",
						"type": "UTF8"
					},
					{
						"name": "Tool_RF_Reflected_Power_Watts_SVID193",
						"type": "UTF8"
					},
					{
						"name": "Tool_MW_Forward_Power_Watts_SVID194",
						"type": "UTF8"
					},
					{
						"name": "Tool_MW_Reflected_Power_Watts_SVID195",
						"type": "UTF8"
					},
					{
						"name": "Tool_Recipe_Step_Number_SVID196_[Tool's_Step]",
						"type": "UTF8"
					},
					{
						"name": "Tool_Wafer_-_Slot_Number_SVID222",
						"type": "UTF8"
					},
					{
						"name": "Tool_EP_-_End_Point_Time_SVID266",
						"type": "UTF8"
					},
					{
						"name": "Tool_RF_Power_Set_Point_Watts_SVID288",
						"type": "UTF8"
					},
					{
						"name": "Tool_MW_Set_Point_Watts_SVID289",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pres-_Chamber_Pressure_Set_Point_torr_SVID290",
						"type": "UTF8"
					},
					{
						"name": "Tool_Temp_-_Hot_Plate_SetPoint_C_SVID291",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_-_CF4_Set_Point_sccm_SVID292",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_-_O2_Large_Set_Point_sccm_SVID293",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_-_NF3_Set_Point_sccm_SVID294",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_-_N2H2_Set_Point_sccm_SVID295",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_-_Argon_Set_Point_sccm_SVID296",
						"type": "UTF8"
					},
					{
						"name": "Tool_EP_-_Photo_Multiplier_End_Point_HiV_v_SVID316",
						"type": "UTF8"
					},
					{
						"name": "Tool_Pin_Height_Set_Point_SVID317",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_-_O2_Small_Flow",
						"type": "UTF8"
					},
					{
						"name": "Tool_Gas_-_O2_Small_Set_Point",
						"type": "UTF8"
					},
					{
						"name": "Sig_Temp_-_Hot_Plate_-_Filtered_No_RF_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Ash_Total_Time",
						"type": "UTF8"
					},
					{
						"name": "Sig_Overash_Time",
						"type": "UTF8"
					},
					{
						"name": "Sig_Ash_EP_Time",
						"type": "UTF8"
					},
					{
						"name": "Sig_Overash_Percentage",
						"type": "UTF8"
					},
					{
						"name": "Sig_Filter_Max_Data_Age",
						"type": "UTF8"
					},
					{
						"name": "Sig_Overash_Percentage_filtered_for_Data_Age",
						"type": "UTF8"
					},
					{
						"name": "Sig_MW_-_Power_Deviation_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_RF_-_Power_Deviation_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_-_Large_O2_Flow_Deviation_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_-_Small_O2_Flow_Deviation_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_-_CF4_Flow_Deviation_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_-_NF3_Flow_Deviation_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_-_Argon_Flow_Deviation_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_-_N2H2_Flow_Deviation_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_MW_-_Reflected_Power_Steady_state_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_RF_-_Reflected_Power_Steady_state_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Pres_-_Pressure_Deviation_High_PressureSteady_State_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_EP_-_EP_Intensity_after_resist_removal_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Temp_-_Hot_Plate_Deviation_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_EP_-_EP_Max_Intensity_with_no_RF",
						"type": "UTF8"
					},
					{
						"name": "Sig_Pres_-_Pressure_Deviation_Low_PressureSteady_State_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Filter_Slot_Number_Correction__25",
						"type": "UTF8"
					},
					{
						"name": "Sig_Filter_Slot_Number_Corrected_Value",
						"type": "UTF8"
					},
					{
						"name": "Sig_RF_-_Bias_Power_on_post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Overash_Time_7V",
						"type": "UTF8"
					},
					{
						"name": "Sig_Overash_Percentage_7V",
						"type": "UTF8"
					},
					{
						"name": "Sig_Overash_Percentage_filtered_for_Data_Age_7V",
						"type": "UTF8"
					},
					{
						"name": "Sig_EP_-_End_Point_voltage_above_trigger._post_Run",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_O2_Large_Usage_liters",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_O2_Small_Usage_liters",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_NF3_Usage_liters",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_CF4_Usage_liters",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_N2H2_Usage_liters",
						"type": "UTF8"
					},
					{
						"name": "Sig_Gas_Argon_Usage_liters",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetDestinationStore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your source data store.",
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					},
					"SourceContainer": {
						"type": "string"
					},
					"SourceDirectory": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().SourceDirectory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().SourceContainer",
							"type": "Expression"
						}
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mdloutbound')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mergedCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "translated/parquet/site/USR/FDC/Tools/ASH10653",
						"fileSystem": "adls"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mergedCSVToParquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "translated/parquet",
						"fileSystem": "adls"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mfgdlparquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "shipment.parquet",
						"folderPath": "inbound/user/ffyn9j",
						"fileSystem": "adls"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ONPREMALLUSERS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ONPREMALLUSERS_properties_typeProperties_host')]",
					"userId": "[parameters('ONPREMALLUSERS_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ONPREMALLUSERS_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntimeMfgDataLake",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ONPREMVM')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "onpremvm",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ONPREMVM_properties_typeProperties_host')]",
					"userId": "[parameters('ONPREMVM_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ONPREMVM_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntimeMfgDataLake",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/fabtimesqlserver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('fabtimesqlserver_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntimeMfgDataLake",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FDC_batch_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "parse_ASH",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_ASH_dev"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "parse_ETH",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_ETH_dev"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "parse_CED09603",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_CED09603_dev"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "parse_CED09607",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_CED09607_dev"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "merge_ASH",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "parse_ASH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_ASH_csv_delta_parquet_dev"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "merge_ETH",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "parse_ETH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_ETH_csv_delta_parquet_dev"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "merge_CED",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "parse_CED09603",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "parse_CED09607",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_CED_csv_delta_parquet_dev"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "detect_anomaly_ASH",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "merge_ASH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/FDC_Batch_Detection/FDC_ASH_PIM_Batch_Detection"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "detect_anomaly_ETH",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "merge_ETH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/FDC_Batch_Detection/FDC_ETH_ONC110M_Batch_Detection"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "detect_anomaly_CED",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "merge_CED",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/FDC_Batch_Detection/FDC_CED_C_IMD_Batch_Detection"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "merge_FDC_results",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "detect_anomaly_ASH",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "detect_anomaly_ETH",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "detect_anomaly_CED",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Deployments/DEV/ETL_USR/ETL_USR_merge_FDC_results"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "FDC_Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bulk Copy from Files to Database')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "GetMetadataDataset",
								"type": "DatasetReference",
								"parameters": {
									"SourceContainer": {
										"value": "@pipeline().parameters.SourceContainer",
										"type": "Expression"
									},
									"SourceDirectory": {
										"value": "@pipeline().parameters.SourceDirectory",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Files').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopyFiles",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": "ffyn9j",
												"wildcardFileName": "student-mat.csv",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": true
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "ADLSBlobStorage",
												"type": "LinkedServiceReference"
											},
											"path": "adfsolutiontemplate/BulkCopyfromFilestoDB"
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "school",
														"type": "String"
													},
													"sink": {
														"name": "school",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "sex",
														"type": "String"
													},
													"sink": {
														"name": "sex",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "age",
														"type": "String"
													},
													"sink": {
														"name": "age",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "address",
														"type": "String"
													},
													"sink": {
														"name": "address",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "famsize",
														"type": "String"
													},
													"sink": {
														"name": "famsize",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Pstatus",
														"type": "String"
													},
													"sink": {
														"name": "Pstatus",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Medu",
														"type": "String"
													},
													"sink": {
														"name": "Medu",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Fedu",
														"type": "String"
													},
													"sink": {
														"name": "Fedu",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Mjob",
														"type": "String"
													},
													"sink": {
														"name": "Mjob",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Fjob",
														"type": "String"
													},
													"sink": {
														"name": "Fjob",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "reason",
														"type": "String"
													},
													"sink": {
														"name": "reason",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "guardian",
														"type": "String"
													},
													"sink": {
														"name": "guardian",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "traveltime",
														"type": "String"
													},
													"sink": {
														"name": "traveltime",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "studytime",
														"type": "String"
													},
													"sink": {
														"name": "studytime",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "failures",
														"type": "String"
													},
													"sink": {
														"name": "failures",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "schoolsup",
														"type": "String"
													},
													"sink": {
														"name": "schoolsup",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "famsup",
														"type": "String"
													},
													"sink": {
														"name": "famsup",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "paid",
														"type": "String"
													},
													"sink": {
														"name": "paid",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "activities",
														"type": "String"
													},
													"sink": {
														"name": "activities",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "nursery",
														"type": "String"
													},
													"sink": {
														"name": "nursery",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "higher",
														"type": "String"
													},
													"sink": {
														"name": "higher",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "internet",
														"type": "String"
													},
													"sink": {
														"name": "internet",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "romantic",
														"type": "String"
													},
													"sink": {
														"name": "romantic",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "famrel",
														"type": "String"
													},
													"sink": {
														"name": "famrel",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "freetime",
														"type": "String"
													},
													"sink": {
														"name": "freetime",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "goout",
														"type": "String"
													},
													"sink": {
														"name": "goout",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Dalc",
														"type": "String"
													},
													"sink": {
														"name": "Dalc",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Walc",
														"type": "String"
													},
													"sink": {
														"name": "Walc",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "health",
														"type": "String"
													},
													"sink": {
														"name": "health",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "absences",
														"type": "String"
													},
													"sink": {
														"name": "absences",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G1",
														"type": "String"
													},
													"sink": {
														"name": "G1",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G2",
														"type": "String"
													},
													"sink": {
														"name": "G2",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "G3",
														"type": "String"
													},
													"sink": {
														"name": "G3",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset",
											"type": "DatasetReference",
											"parameters": {
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"SourceContainer": {
													"value": "@pipeline().parameters.SourceContainer",
													"type": "Expression"
												},
												"SourceDirectory": {
													"value": "@pipeline().parameters.SourceDirectory",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlDWSinkDataset",
											"type": "DatasetReference",
											"parameters": {
												"sinkTableName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"SourceContainer": {
						"type": "string",
						"defaultValue": "adls\\inbound\\user"
					},
					"SourceDirectory": {
						"type": "string",
						"defaultValue": "ffyn9j"
					}
				},
				"folder": {
					"name": "sandbox"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GetMetadataDataset')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bulk Copy from Files to Database1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFiles",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "translated/examples/ASH.delta.df",
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"tableOption": "autoCreate"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "ADLSBlobStorage",
									"type": "LinkedServiceReference"
								},
								"path": "adfsolutiontemplate",
								"enableCompression": true
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "_c0",
											"type": "Int16"
										},
										"sink": {
											"name": "_c0",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Filename_Translated",
											"type": "String"
										},
										"sink": {
											"name": "Filename_Translated",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Filename_Original",
											"type": "String"
										},
										"sink": {
											"name": "Filename_Original",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FabGuard_Version",
											"type": "String"
										},
										"sink": {
											"name": "FabGuard_Version",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Run_Path_and_Name",
											"type": "String"
										},
										"sink": {
											"name": "Run_Path_and_Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Recipe_Path_and_Name",
											"type": "String"
										},
										"sink": {
											"name": "Recipe_Path_and_Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SensorID",
											"type": "String"
										},
										"sink": {
											"name": "SensorID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Version",
											"type": "String"
										},
										"sink": {
											"name": "Version",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Acquired_with_Version",
											"type": "String"
										},
										"sink": {
											"name": "Acquired_with_Version",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Group",
											"type": "String"
										},
										"sink": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Group",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_ID",
											"type": "String"
										},
										"sink": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Description",
											"type": "String"
										},
										"sink": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Area",
											"type": "String"
										},
										"sink": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Area",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Type",
											"type": "String"
										},
										"sink": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Tool_Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_FabGuard",
											"type": "Int16"
										},
										"sink": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_FabGuard",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_ID",
											"type": "String"
										},
										"sink": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_Description",
											"type": "String"
										},
										"sink": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_Description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_Type",
											"type": "String"
										},
										"sink": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_Chamber_Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_1_TDS_Type",
											"type": "String"
										},
										"sink": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_1_TDS_Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_1_TDS_Serial_Number",
											"type": "Int32"
										},
										"sink": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_1_TDS_Serial_Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_1_TDS_Version",
											"type": "String"
										},
										"sink": {
											"name": "Equipment_Information_Tool_Chamber_and_Sensor_1_TDS_Version",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Substrate_Information_Lot_ID",
											"type": "String"
										},
										"sink": {
											"name": "Substrate_Information_Lot_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Substrate_Information_Cassette_ID",
											"type": "Int16"
										},
										"sink": {
											"name": "Substrate_Information_Cassette_ID",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Substrate_Information_Slot_ID",
											"type": "Int16"
										},
										"sink": {
											"name": "Substrate_Information_Slot_ID",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Substrate_Information_Substrate_ID",
											"type": "String"
										},
										"sink": {
											"name": "Substrate_Information_Substrate_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Substrate_Information_Part_ID",
											"type": "String"
										},
										"sink": {
											"name": "Substrate_Information_Part_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Substrate_Information_Layer_ID",
											"type": "String"
										},
										"sink": {
											"name": "Substrate_Information_Layer_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Substrate_Information_Technology_ID",
											"type": "String"
										},
										"sink": {
											"name": "Substrate_Information_Technology_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Substrate_Information_Substrate_Start_Time_local",
											"type": "DateTime"
										},
										"sink": {
											"name": "Substrate_Information_Substrate_Start_Time_local",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Substrate_Information_Substrate_Start_Time_GMT",
											"type": "DateTime"
										},
										"sink": {
											"name": "Substrate_Information_Substrate_Start_Time_GMT",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Process_Information_Operator_ID",
											"type": "String"
										},
										"sink": {
											"name": "Process_Information_Operator_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Process_Information_Sequence_ID",
											"type": "String"
										},
										"sink": {
											"name": "Process_Information_Sequence_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Process_Information_Recipe_ID",
											"type": "String"
										},
										"sink": {
											"name": "Process_Information_Recipe_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Process_Information_Control_Job_ID",
											"type": "String"
										},
										"sink": {
											"name": "Process_Information_Control_Job_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Process_Information_Process_ID",
											"type": "String"
										},
										"sink": {
											"name": "Process_Information_Process_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Extra_Information_Extra_1_ID",
											"type": "String"
										},
										"sink": {
											"name": "Extra_Information_Extra_1_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Extra_Information_Extra_2_ID",
											"type": "String"
										},
										"sink": {
											"name": "Extra_Information_Extra_2_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Extra_Information_Extra_3_ID",
											"type": "String"
										},
										"sink": {
											"name": "Extra_Information_Extra_3_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Extra_Information_Extra_4_ID",
											"type": "String"
										},
										"sink": {
											"name": "Extra_Information_Extra_4_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Extra_Information_Extra_5_ID",
											"type": "String"
										},
										"sink": {
											"name": "Extra_Information_Extra_5_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Extra_Information_Extra_6_ID",
											"type": "String"
										},
										"sink": {
											"name": "Extra_Information_Extra_6_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Extra_Information_Extra_7_ID",
											"type": "String"
										},
										"sink": {
											"name": "Extra_Information_Extra_7_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Extra_Information_Extra_8_ID",
											"type": "String"
										},
										"sink": {
											"name": "Extra_Information_Extra_8_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "General_Info_Start_Time",
											"type": "String"
										},
										"sink": {
											"name": "General_Info_Start_Time",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "General_Info_Start_Time_at_the_acquisition_location",
											"type": "DateTime"
										},
										"sink": {
											"name": "General_Info_Start_Time_at_the_acquisition_location",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "General_Info_FabGuards_Recipe_Path_and_Name",
											"type": "String"
										},
										"sink": {
											"name": "General_Info_FabGuards_Recipe_Path_and_Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "General_Info_FabGuards_Recipe_Revision",
											"type": "Int16"
										},
										"sink": {
											"name": "General_Info_FabGuards_Recipe_Revision",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "General_Info_FabGuards_Recipe_last_modified_by",
											"type": "String"
										},
										"sink": {
											"name": "General_Info_FabGuards_Recipe_last_modified_by",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "General_Info_FabGuards_Recipe_last_modified_Time_local",
											"type": "DateTime"
										},
										"sink": {
											"name": "General_Info_FabGuards_Recipe_last_modified_Time_local",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "General_Info_Start_Time_at_the_acquisition_GMT",
											"type": "DateTime"
										},
										"sink": {
											"name": "General_Info_Start_Time_at_the_acquisition_GMT",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "General_Info_Run_Path_and_Name",
											"type": "String"
										},
										"sink": {
											"name": "General_Info_Run_Path_and_Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "General_Info_Duration_s",
											"type": "Double"
										},
										"sink": {
											"name": "General_Info_Duration_s",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "General_Info_Number_of_Data_Points",
											"type": "Int16"
										},
										"sink": {
											"name": "General_Info_Number_of_Data_Points",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "General_Info_Number_of_Scans",
											"type": "Boolean"
										},
										"sink": {
											"name": "General_Info_Number_of_Scans",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "General_Info_Number_of_Bins",
											"type": "Int16"
										},
										"sink": {
											"name": "General_Info_Number_of_Bins",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Bins",
											"type": "Int16"
										},
										"sink": {
											"name": "Bins",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "TimePoints",
											"type": "Int16"
										},
										"sink": {
											"name": "TimePoints",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "TimeRelativesec",
											"type": "Double"
										},
										"sink": {
											"name": "TimeRelativesec",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "TimeAbsoluteUTC",
											"type": "Double"
										},
										"sink": {
											"name": "TimeAbsoluteUTC",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "TimeAbsoluteDate_Time",
											"type": "String"
										},
										"sink": {
											"name": "TimeAbsoluteDate_Time",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Step",
											"type": "Boolean"
										},
										"sink": {
											"name": "Step",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "Boolean"
										},
										"sink": {
											"name": "Status",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Tool_Pres_CM_mTorr_SVID167813621",
											"type": "Int16"
										},
										"sink": {
											"name": "Tool_Pres_CM_mTorr_SVID167813621",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Tool_Pwr_Bot_RF_Fwd_W_SVID167813623",
											"type": "Int16"
										},
										"sink": {
											"name": "Tool_Pwr_Bot_RF_Fwd_W_SVID167813623",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Tool_Pwr_Bot_RF_Refl_W_SVID167813625",
											"type": "Int16"
										},
										"sink": {
											"name": "Tool_Pwr_Bot_RF_Refl_W_SVID167813625",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Tool_Pwr_Bot_RF_VPP_V_SVID167813627",
											"type": "Int16"
										},
										"sink": {
											"name": "Tool_Pwr_Bot_RF_VPP_V_SVID167813627",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Tool_Pwr_Bot_RF_VDC_V_SVID167813629",
											"type": "Int16"
										},
										"sink": {
											"name": "Tool_Pwr_Bot_RF_VDC_V_SVID167813629",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_C4F8_Flow_sccm_SVID167813630",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Gas_C4F8_Flow_sccm_SVID167813630",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_C5F8_Flow_sccm_SVID167813631",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Gas_C5F8_Flow_sccm_SVID167813631",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_CO_Flow_sccm_SVID167813632",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Gas_CO_Flow_sccm_SVID167813632",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_Ar_Flow_sccm_SVID167813633",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Gas_Ar_Flow_sccm_SVID167813633",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_O2_30_sccm_Flow_sccm_SVID167813634",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Gas_O2_30_sccm_Flow_sccm_SVID167813634",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_CHF3_Flow_sccm_SVID167813635",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Gas_CHF3_Flow_sccm_SVID167813635",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_CF4_Flow_sccm_SVID167813636",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Gas_CF4_Flow_sccm_SVID167813636",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_O2_1_SLM_Flow_sccm_SVID167813637",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Gas_O2_1_SLM_Flow_sccm_SVID167813637",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Temp_Elec_Top_degC_SVID167813638",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Temp_Elec_Top_degC_SVID167813638",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Temp_Wall_Side_degC_SVID167813639",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Temp_Wall_Side_degC_SVID167813639",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Temp_Elec_Bot_degC_SVID167813640",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Temp_Elec_Bot_degC_SVID167813640",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_He_Pres_Back_1_Torr_SVID167813641",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_He_Pres_Back_1_Torr_SVID167813641",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_He_Pres_Back_2_Torr_SVID167813642",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_He_Pres_Back_2_Torr_SVID167813642",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_He_Flow_1_sccm_SVID167813643",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_He_Flow_1_sccm_SVID167813643",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_He_Flow_2_sccm_SVID167813644",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_He_Flow_2_sccm_SVID167813644",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_ESC_Voltage_V_SVID167813645",
											"type": "Int16"
										},
										"sink": {
											"name": "Tool_ESC_Voltage_V_SVID167813645",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Tool_ESC_Current_uA_SVID167813646",
											"type": "Int16"
										},
										"sink": {
											"name": "Tool_ESC_Current_uA_SVID167813646",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Tool_Pres_APC_Pos_deg_SVID167813647",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Pres_APC_Pos_deg_SVID167813647",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Gap_Dist_mm_SVID167813648",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Gap_Dist_mm_SVID167813648",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Cap_C1_Bot_Pos_SVID167813651",
											"type": "Int16"
										},
										"sink": {
											"name": "Tool_Cap_C1_Bot_Pos_SVID167813651",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Tool_Cap_C2_Bot_Pos_SVID167813652",
											"type": "Int16"
										},
										"sink": {
											"name": "Tool_Cap_C2_Bot_Pos_SVID167813652",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Tool_Imped_R_Top_ohm_SVID167813653",
											"type": "Boolean"
										},
										"sink": {
											"name": "Tool_Imped_R_Top_ohm_SVID167813653",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Tool_Imped_Jx_Top_ohm_SVID167813654",
											"type": "Boolean"
										},
										"sink": {
											"name": "Tool_Imped_Jx_Top_ohm_SVID167813654",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Tool_Imped_R_Bot_ohm_SVID167813655",
											"type": "Boolean"
										},
										"sink": {
											"name": "Tool_Imped_R_Bot_ohm_SVID167813655",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Tool_Imped_Jx_Bot_ohm_SVID167813656",
											"type": "Boolean"
										},
										"sink": {
											"name": "Tool_Imped_Jx_Bot_ohm_SVID167813656",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Tool_Phase_SVID167813658",
											"type": "Int16"
										},
										"sink": {
											"name": "Tool_Phase_SVID167813658",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Tool_Magnitude_SVID167813659",
											"type": "Int16"
										},
										"sink": {
											"name": "Tool_Magnitude_SVID167813659",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Tool_Rcp_Step_Num_SVID167813666_[Tool's_Step]",
											"type": "Int16"
										},
										"sink": {
											"name": "Tool_Rcp_Step_Num_SVID167813666_Tools_Step"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_CH2F2_Flow_sccm_SVID167813678",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Gas_CH2F2_Flow_sccm_SVID167813678",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_N2_Flow_sccm_SVID167813679",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Gas_N2_Flow_sccm_SVID167813679",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_He_Flow_sccm_SVID167813680",
											"type": "Int16"
										},
										"sink": {
											"name": "Tool_Gas_He_Flow_sccm_SVID167813680",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_H2_Flow_sccm_SVID167813681",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Gas_H2_Flow_sccm_SVID167813681",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_CHF3_2_Flow",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Gas_CHF3_2_Flow",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Bin_Polling_Latency",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Bin_Polling_Latency",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Bin_Data_Age",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Bin_Data_Age",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Bin_Data_Age_SECS",
											"type": "Double"
										},
										"sink": {
											"name": "Tool_Bin_Data_Age_SECS",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Bot_RF_On",
											"type": "Boolean"
										},
										"sink": {
											"name": "Sig_Bot_RF_On",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Sig_Edge_He_Backside_Pressure_RF_On",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Edge_He_Backside_Pressure_RF_On",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Center_He_Backside_Pressure_RF_On",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Center_He_Backside_Pressure_RF_On",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Center_He_Backside_Flow_RF_On",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Center_He_Backside_Flow_RF_On",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Edge_He_Backside_Flow_RF_On",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Edge_He_Backside_Flow_RF_On",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Upper_Temperature_RF_On",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Upper_Temperature_RF_On",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Side_Temperature_RF_On",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Side_Temperature_RF_On",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Lower_Temperature_RF_On",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Lower_Temperature_RF_On",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_ElectroStatic_Chuck_Voltage_RF_On",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_ElectroStatic_Chuck_Voltage_RF_On",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_ElectroStatic_Chuck_Current_RF_On",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_ElectroStatic_Chuck_Current_RF_On",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Chamber_Pressure_RF_On_Steady_State_post_Run",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Chamber_Pressure_RF_On_Steady_State_post_Run",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_CH2F2_Flow_RF_On",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_CH2F2_Flow_RF_On",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Vpp_Arc_Counter_1450_W",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Vpp_Arc_Counter_1450_W",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_No_arc__0",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_No_arc__0",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Vpp_Arc_Counter_1200-1450_W",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Vpp_Arc_Counter_1200-1450_W",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Vpp_Arc_Counter_1450_W_v2_post_Run",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Vpp_Arc_Counter_1450_W_v2_post_Run",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Reflected_Power_of_Stady_State_post_Run",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Reflected_Power_of_Stady_State_post_Run",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Filter_Acceptable_Data_Age",
											"type": "Boolean"
										},
										"sink": {
											"name": "Sig_Filter_Acceptable_Data_Age",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Sig_Pwr_Bot_RF_Fwd_DevAvg_Steady_State_5-60",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Pwr_Bot_RF_Fwd_DevAvg_Steady_State_5-60",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_Ar_Steady_State_5-60_RF_On_post_Run",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Gas_Ar_Steady_State_5-60_RF_On_post_Run",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_Ar_DevAvg_Steady_State_5-60_RF_On_post_Run",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_Gas_Ar_DevAvg_Steady_State_5-60_RF_On_post_Run",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_VPP_TRIM_Step_4_post_Run",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_VPP_TRIM_Step_4_post_Run",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_C4F8_TRIM_Step_4_post_Run",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_C4F8_TRIM_Step_4_post_Run",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Sig_VPP_TRIM_Step_2_post_Run",
											"type": "Double"
										},
										"sink": {
											"name": "Sig_VPP_TRIM_Step_2_post_Run",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_-_CF4_Flow_sccm_SVID180",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Gas_-_CF4_Flow_sccm_SVID180",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_-_O2_Large_Flow_sccm_SVID181",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Gas_-_O2_Large_Flow_sccm_SVID181",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_-_NF3_Flow_sccm_SVID182",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Gas_-_NF3_Flow_sccm_SVID182",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_-_N2H2_Flow_sccm_SVID183",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Gas_-_N2H2_Flow_sccm_SVID183",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_-_Argon_Flow_sccm_SVID184",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Gas_-_Argon_Flow_sccm_SVID184",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Pres-_Chamber_Pressure_torr_SVID186",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Pres-_Chamber_Pressure_torr_SVID186",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Temp_-_Hot_Plate_C_SVID187",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Temp_-_Hot_Plate_C_SVID187",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_EP_-_Photo_Multiplier_Vout_v_SVID188",
											"type": "String"
										},
										"sink": {
											"name": "Tool_EP_-_Photo_Multiplier_Vout_v_SVID188",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_RF_Bias_SVID189",
											"type": "String"
										},
										"sink": {
											"name": "Tool_RF_Bias_SVID189",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_RF_Match_C1_Pos_%_SVID190",
											"type": "String"
										},
										"sink": {
											"name": "Tool_RF_Match_C1_Pos_%_SVID190",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_RF_Match_C2_Pos_%_SVID191",
											"type": "String"
										},
										"sink": {
											"name": "Tool_RF_Match_C2_Pos_%_SVID191",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_RF_Forward_Power_Watts_SVID192",
											"type": "String"
										},
										"sink": {
											"name": "Tool_RF_Forward_Power_Watts_SVID192",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_RF_Reflected_Power_Watts_SVID193",
											"type": "String"
										},
										"sink": {
											"name": "Tool_RF_Reflected_Power_Watts_SVID193",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_MW_Forward_Power_Watts_SVID194",
											"type": "String"
										},
										"sink": {
											"name": "Tool_MW_Forward_Power_Watts_SVID194",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_MW_Reflected_Power_Watts_SVID195",
											"type": "String"
										},
										"sink": {
											"name": "Tool_MW_Reflected_Power_Watts_SVID195",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Recipe_Step_Number_SVID196_[Tool's_Step]",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Recipe_Step_Number_SVID196_[Tool's_Step] nvarchar(4000), [Tool_Wafer_-_Slot_Number_SVID222",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_EP_-_End_Point_Time_SVID266",
											"type": "String"
										},
										"sink": {
											"name": "Tool_EP_-_End_Point_Time_SVID266",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_RF_Power_Set_Point_Watts_SVID288",
											"type": "String"
										},
										"sink": {
											"name": "Tool_RF_Power_Set_Point_Watts_SVID288",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_MW_Set_Point_Watts_SVID289",
											"type": "String"
										},
										"sink": {
											"name": "Tool_MW_Set_Point_Watts_SVID289",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Pres-_Chamber_Pressure_Set_Point_torr_SVID290",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Pres-_Chamber_Pressure_Set_Point_torr_SVID290",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Temp_-_Hot_Plate_SetPoint_C_SVID291",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Temp_-_Hot_Plate_SetPoint_C_SVID291",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_-_CF4_Set_Point_sccm_SVID292",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Gas_-_CF4_Set_Point_sccm_SVID292",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_-_O2_Large_Set_Point_sccm_SVID293",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Gas_-_O2_Large_Set_Point_sccm_SVID293",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_-_NF3_Set_Point_sccm_SVID294",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Gas_-_NF3_Set_Point_sccm_SVID294",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_-_N2H2_Set_Point_sccm_SVID295",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Gas_-_N2H2_Set_Point_sccm_SVID295",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_-_Argon_Set_Point_sccm_SVID296",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Gas_-_Argon_Set_Point_sccm_SVID296",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_EP_-_Photo_Multiplier_End_Point_HiV_v_SVID316",
											"type": "String"
										},
										"sink": {
											"name": "Tool_EP_-_Photo_Multiplier_End_Point_HiV_v_SVID316",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Pin_Height_Set_Point_SVID317",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Pin_Height_Set_Point_SVID317",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_-_O2_Small_Flow",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Gas_-_O2_Small_Flow",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tool_Gas_-_O2_Small_Set_Point",
											"type": "String"
										},
										"sink": {
											"name": "Tool_Gas_-_O2_Small_Set_Point",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Temp_-_Hot_Plate_-_Filtered_No_RF_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Temp_-_Hot_Plate_-_Filtered_No_RF_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Ash_Total_Time",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Ash_Total_Time",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Overash_Time",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Overash_Time",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Ash_EP_Time",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Ash_EP_Time",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Overash_Percentage",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Overash_Percentage",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Filter_Max_Data_Age",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Filter_Max_Data_Age",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Overash_Percentage_filtered_for_Data_Age",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Overash_Percentage_filtered_for_Data_Age",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_MW_-_Power_Deviation_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_MW_-_Power_Deviation_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_RF_-_Power_Deviation_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_RF_-_Power_Deviation_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_-_Large_O2_Flow_Deviation_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Gas_-_Large_O2_Flow_Deviation_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_-_Small_O2_Flow_Deviation_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Gas_-_Small_O2_Flow_Deviation_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_-_CF4_Flow_Deviation_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Gas_-_CF4_Flow_Deviation_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_-_NF3_Flow_Deviation_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Gas_-_NF3_Flow_Deviation_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_-_Argon_Flow_Deviation_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Gas_-_Argon_Flow_Deviation_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_-_N2H2_Flow_Deviation_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Gas_-_N2H2_Flow_Deviation_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_MW_-_Reflected_Power_Steady_state_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_MW_-_Reflected_Power_Steady_state_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_RF_-_Reflected_Power_Steady_state_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_RF_-_Reflected_Power_Steady_state_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Pres_-_Pressure_Deviation_High_PressureSteady_State_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Pres_-_Pressure_Deviation_High_PressureSteady_State_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_EP_-_EP_Intensity_after_resist_removal_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_EP_-_EP_Intensity_after_resist_removal_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Temp_-_Hot_Plate_Deviation_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Temp_-_Hot_Plate_Deviation_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_EP_-_EP_Max_Intensity_with_no_RF",
											"type": "String"
										},
										"sink": {
											"name": "Sig_EP_-_EP_Max_Intensity_with_no_RF",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Pres_-_Pressure_Deviation_Low_PressureSteady_State_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Pres_-_Pressure_Deviation_Low_PressureSteady_State_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Filter_Slot_Number_Correction__25",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Filter_Slot_Number_Correction__25",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Filter_Slot_Number_Corrected_Value",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Filter_Slot_Number_Corrected_Value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_RF_-_Bias_Power_on_post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_RF_-_Bias_Power_on_post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Overash_Time_7V",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Overash_Time_7V",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Overash_Percentage_7V",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Overash_Percentage_7V",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Overash_Percentage_filtered_for_Data_Age_7V",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Overash_Percentage_filtered_for_Data_Age_7V",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_EP_-_End_Point_voltage_above_trigger._post_Run",
											"type": "String"
										},
										"sink": {
											"name": "Sig_EP_-_End_Point_voltage_above_trigger._post_Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_O2_Large_Usage_liters",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Gas_O2_Large_Usage_liters",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_O2_Small_Usage_liters",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Gas_O2_Small_Usage_liters",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_NF3_Usage_liters",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Gas_NF3_Usage_liters",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_CF4_Usage_liters",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Gas_CF4_Usage_liters",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_N2H2_Usage_liters",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Gas_N2H2_Usage_liters",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sig_Gas_Argon_Usage_liters",
											"type": "String"
										},
										"sink": {
											"name": "Sig_Gas_Argon_Usage_liters",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlDWSinkDataset1",
								"type": "DatasetReference",
								"parameters": {
									"sinkTableName": {
										"value": "FABGUARDFEED",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"SourceContainer": {
						"type": "string",
						"defaultValue": "adls"
					},
					"SourceDirectory": {
						"type": "string",
						"defaultValue": "translated/examples/ASH.delta.df"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Parquet1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BinarySinkFileStore2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your destination data store.",
				"linkedServiceName": {
					"referenceName": "ONPREMALLUSERS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": {
							"value": "@concat(dataset().folderPath,'/',dataset().directory)",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ONPREMALLUSERS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BinarySourceFileStore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your source data store.",
				"linkedServiceName": {
					"referenceName": "ONPREMALLUSERS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": {
							"value": "@concat(dataset().folderPath,'/',dataset().directory)",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ONPREMALLUSERS')]"
			]
		}
	]
}