pipeline/CopyFilesfromMultipleContainers_to_onprem.json
{
	"name": "CopyFilesfromMultipleContainers_to_onprem",
	"properties": {
		"description": "Scan the file path on your source storage store and get the container list.",
		"activities": [
			{
				"name": "EnumerateContainersList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "mdloutbound",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings"
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachContainer",
				"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "EnumerateContainersList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('EnumerateContainersList').output.childItems",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "CopyOneContainer",
							"description": "Copy each container from source storage store to destination store.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "FileServerWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "mdloutbound",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "BinarySourceFileStore1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceFileFolder": {
				"type": "string",
				"defaultValue": "adls"
			},
			"SourceFileDirectory": {
				"type": "string",
				"defaultValue": "outbound"
			},
			"DestinationFileFolder": {
				"type": "string",
				"defaultValue": "outbound"
			},
			"DestinationFileDirectory": {
				"type": "string",
				"defaultValue": "staged"
			}
		},
		"annotations": []
	}
}