pipeline/PpLog2Parquet.json
{
	"name": "PpLog2Parquet",
	"properties": {
		"activities": [
			{
				"name": "RefDbToParquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Latest run",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Earliest run",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings",
							"maxRowsPerFile": 2000000,
							"fileNamePrefix": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "RefDb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "PpLog2Parquet",
						"type": "DatasetReference",
						"parameters": {
							"earliest": "@variables('earliest')",
							"latest": "@variables('latest')"
						}
					}
				]
			},
			{
				"name": "Earliest run",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "earliest",
					"value": "@utcnow()"
				}
			},
			{
				"name": "Latest run",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "latest",
					"value": "@utcnow()"
				}
			}
		],
		"variables": {
			"earliest": {
				"type": "String",
				"defaultValue": "@adddays(utcnow(),-1)"
			},
			"latest": {
				"type": "String",
				"defaultValue": "@adddays(utcnow(),1)"
			}
		},
		"folder": {
			"name": "RefDb"
		},
		"annotations": []
	}
}