Mfg-Data-Lake-DEV-Factory/PartialArmTemplates/ArmTemplate_3_26_2021_9_55_27.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Mfg-Data-Lake-DEV-Factory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/phxcolo_copyfiles_adls_to_onprem')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Scan the file path on your source storage store and get the container list.",
				"activities": [
					{
						"name": "EnumerateContainersList",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BinarySourceFileStore2",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.SourceFileFolder",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.SourceFileDirectory",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEachContainer",
						"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "EnumerateContainersList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('EnumerateContainersList').output.childItems",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "CopyOneContainer",
									"description": "Copy each container from source storage store to destination store.",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "FileServerWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "BinarySourceFileStore2",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().parameters.SourceFileFolder",
													"type": "Expression"
												},
												"directory": {
													"value": "@concat(pipeline().parameters.SourceFileDirectory,'/',item().name)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "PHXCOLO_BinarySinkFileStore2",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@pipeline().parameters.DestinationFileFolder",
												"directory": "@concat(pipeline().parameters.DestinationFileDirectory,'/',item().name)"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"SourceFileFolder": {
						"type": "string",
						"defaultValue": "adls"
					},
					"SourceFileDirectory": {
						"type": "string",
						"defaultValue": "outbound"
					},
					"DestinationFileFolder": {
						"type": "string",
						"defaultValue": "outbound"
					},
					"DestinationFileDirectory": {
						"type": "string",
						"defaultValue": "staged"
					}
				},
				"folder": {
					"name": "Copy Files Phx Colo"
				},
				"annotations": [],
				"lastPublishTime": "2020-11-09T18:54:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PHXCOLO_BinarySinkFileStore2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/phxcolo_copyfiles_onprem_to_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Scan the file path on your source storage store and get the container list.",
				"activities": [
					{
						"name": "EnumerateContainersList",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "PHXCOLO_BinarySourceFileStore1",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "@pipeline().parameters.SourceFileFolder",
									"directory": "@pipeline().parameters.SourceFileDirectory"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "FileServerReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEachContainer",
						"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "EnumerateContainersList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('EnumerateContainersList').output.childItems",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "CopyOneContainer",
									"description": "Copy each container from source storage store to destination store.",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "FileServerReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false
									},
									"inputs": [
										{
											"referenceName": "PHXCOLO_BinarySourceFileStore1",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@pipeline().parameters.SourceFileFolder",
												"directory": "@concat(pipeline().parameters.SourceFileDirectory,'/',item().name)"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "BinarySinkFileStore",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().parameters.DestinationFileFolder",
													"type": "Expression"
												},
												"directory": {
													"value": "@concat(pipeline().parameters.DestinationFileDirectory,'/',item().name)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "DeleteActivity",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "CopyOneContainer",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "PHXCOLO_BinarySourceFileStore1",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "@pipeline().parameters.SourceFileFolder",
												"directory": "@concat(pipeline().parameters.SourceFileDirectory,'/',item().name)"
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "onsemidevmdlstoragelink",
												"type": "LinkedServiceReference"
											},
											"path": "adls/inbound/logs"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "FileServerReadSettings",
											"recursive": true,
											"wildcardFileName": "*.*"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"SourceFileFolder": {
						"type": "string",
						"defaultValue": "inbound"
					},
					"SourceFileDirectory": {
						"type": "string",
						"defaultValue": "staged"
					},
					"DestinationFileFolder": {
						"type": "string",
						"defaultValue": "adls"
					},
					"DestinationFileDirectory": {
						"type": "string",
						"defaultValue": "inbound"
					}
				},
				"folder": {
					"name": "Copy Files Phx Colo"
				},
				"annotations": [],
				"lastPublishTime": "2020-11-09T18:54:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PHXCOLO_BinarySourceFileStore1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PHXCOLO_BinarySinkFileStore2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your destination data store.",
				"linkedServiceName": {
					"referenceName": "ONPREMALLUSERSPHXCOLO",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": {
							"value": "@concat(dataset().folderPath,'/',dataset().directory)",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ONPREMALLUSERSPHXCOLO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PHXCOLO_BinarySourceFileStore1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your source data store.",
				"linkedServiceName": {
					"referenceName": "ONPREMALLUSERSPHXCOLO",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": {
							"value": "@concat(dataset().folderPath,'/',dataset().directory)",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ONPREMALLUSERSPHXCOLO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ONPREMALLUSERSPHXCOLO')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "\\\\USAZ15WS078\\adls",
					"userId": "onsemi\\fabtimesys",
					"password": {
						"type": "SecureString",
						"value": "**********"
					}
				},
				"connectVia": {
					"referenceName": "IntegrationRuntimeMDLPHXCOLO",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Batch_inference_store_results_filter_results')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "batch_inference",
						"description": "takes best_model.pt and images from inbound batch set and outputs csv/parquet to scored/results. ",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs://Users/zbm9dp@onsemi.com/data_factory_image_classification/batch_inference",
							"parameters": [
								"CZ4"
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "filter_results",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "batch_inference",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:///Users/zbm9dp@onsemi.com/data_factory_image_classification/filter_csv",
							"parameters": [
								"CZ4"
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "CZ4_Defect_classification"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/inbound_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CZ4_Image_classification/inbound"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "inbound/site/CZ4",
						"fileSystem": "adls"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/scored_sink_data_for_copy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CZ4_Image_classification/scored"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "scored/site/CZ4",
						"fileSystem": "adls"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_inbound_scored')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_folder",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "inbound_data",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "scored_sink_data_for_copy",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "CZ4_Defect_classification"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/inbound_data')]",
				"[concat(variables('factoryId'), '/datasets/scored_sink_data_for_copy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create_new_model')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Train_new_model",
						"description": "Train a new model from scratch on datasets listed in create_trigger.txt file",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs://Users/zbm9dp@onsemi.com/data_factory_image_classification/batch_inference"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy_results_from_scored_to_outbound",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "Train_new_model",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs://Users/zbm9dp@onsemi.com/data_factory_image_classification/batch_inference"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "CZ4_Defect_classification"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}