Mfg-Data-Lake-DEV-Factory/PartialArmTemplates/ArmTemplate_4_6_2021_12_58_53.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Mfg-Data-Lake-DEV-Factory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Train_trigger_checkevery5mins')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Create_Retrain_new_model",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "Test_existing_model",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "model_deploy",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2021-04-04T16:11:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Test_existing_model')]",
				"[concat(variables('factoryId'), '/pipelines/model_deploy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Test_existing_model')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "check_for_inbound_test_trigger",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Image_classification/CZ4/check_inbound_test_trigger"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_gpucluster_daniel",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Move_trigger_from_inbound_scored",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "check_for_inbound_test_trigger",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "test_trigger_inbound",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "scored_test_trigger",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "copy_inbound_to_scored",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Move_trigger_from_inbound_scored",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "inbound_data",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "scored_sink_data_for_copy",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Test_model",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "copy_inbound_to_scored",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Image_classification/CZ4/Test_model"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_gpucluster_daniel",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"folder": {
					"name": "CZ4_Defect_classification"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/test_trigger_inbound')]",
				"[concat(variables('factoryId'), '/datasets/scored_test_trigger')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_trigger_inbound')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CZ4_Image_classification/inbound"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "test_trigger.txt",
						"folderPath": "inbound/site/CZ4/defect/Trigger",
						"fileSystem": "adls"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/scored_test_trigger')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CZ4_Image_classification/inbound"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "test_trigger.txt",
						"folderPath": "scored/site/CZ4/defect/Trigger",
						"fileSystem": "adls"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/model_deploy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "check_for_inbound_model_trigger_file",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Image_classification/CZ4/check_inbound_model_trigger"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_rado_ml_cluster",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "move_model_trigger_from_inbound_scored",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "check_for_inbound_model_trigger_file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "model_trigger_inbound",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "model_trigger_scored",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "CZ4_Defect_classification"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/model_trigger_inbound')]",
				"[concat(variables('factoryId'), '/datasets/model_trigger_scored')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/model_trigger_inbound')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CZ4_Image_classification/inbound"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "model_trigger.txt",
						"folderPath": "inbound/site/CZ4/defect/Trigger",
						"fileSystem": "adls"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/model_trigger_scored')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "onsemidevmdlstoragelink",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CZ4_Image_classification/scored"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "model_trigger.txt",
						"folderPath": "scored/site/CZ4/defect/Trigger",
						"fileSystem": "adls"
					}
				}
			},
			"dependsOn": []
		}
	]
}